<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Kids frocks</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girl 5.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Lorem ipsum dolor sit.</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
               <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f2.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Pink, Full Sleeve</h2>
            <span class="price">$20</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girl 3.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Lorllll.</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f4.jpeg" alt="" class="product-img">
            <h2 class="product-tittle"> dolor sit.</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f5.jpeg" alt="" class="product-img">
            <h2 class="product-tittle"> sit.</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f6.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">white&blue, full Sleeveless</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f7.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Lorem ipsum dolor sit.</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f8.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Blue, Short Sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/kidsimages/f9.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">purple,Sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f10.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Yellow, Sleeveless</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f11.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Purple, Half Sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f12.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Blue, Sleeveless</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f13.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Purple, 3/4 Sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f14.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">pink, Sleeveless</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f15.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">White, 3/4 Sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/f16.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Green,Sleeveless</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/f17.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">yellow,Sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/f18.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">light orange,Sleeveless</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box19-->
          <div class="product-box">
            <img src="../../assets/kidsimages/f19.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">light pink,Sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box20 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/f20.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">Green, Sleeveless</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box21 -->
         <div class="product-box">
          <img src="../../assets/kidsimages/f21.jpeg" alt="" class="product-img">
          <h2 class="product-tittle">Yellow, 3/4 Sleeve</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart" ></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
       <!-- product box22 -->
       <div class="product-box">
        <img src="../../assets/kidsimages/f22.jpeg" alt="" class="product-img">
        <h2 class="product-tittle">Light Blue, Sleeveless</h2>
        <span class="price">$xxxx</span>
        <i class="bi bi-heart add-heart" ></i>
        <i class="bi bi-bag add-cart"></i>
    </div>
     <!-- product box23 -->
     <div class="product-box">
      <img src="../../assets/kidsimages/f23.jpeg" alt="" class="product-img">
      <h2 class="product-tittle">Pink, Sleeveless</h2>
      <span class="price">$xxxx</span>
      <i class="bi bi-heart add-heart" ></i>
      <i class="bi bi-bag add-cart"></i>
  </div>
  
  <!-- product box24 -->
  <div class="product-box">
    <img src="../../assets/kidsimages/f24.jpeg" alt="" class="product-img">
    <h2 class="product-tittle">Beige, Short Sleeve</h2>
    <span class="price">$xxxx</span>
    <i class="bi bi-heart add-heart" ></i>
    <i class="bi bi-bag add-cart"></i>
  </div>
    </div>
  
  </section>