<!-- shop container -->
<section class="shop container">
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/bengalicotton" alt="" class="product-img">
            <h2 class="product-tittle">bengali cotton kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/bollywood" alt="" class="product-img">
            <h2 class="product-tittle">bolly wood kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/bunnaimirror" alt="" class="product-img">
            <h2 class="product-tittle">bunnai mirror kurtas</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/designer" alt="" class="product-img">
            <h2 class="product-tittle">designer kurtas</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
         <div class="product-box">
            <img src="../../assets/womenkurta/trendy" alt="" class="product-img">
            <h2 class="product-tittle">trendy kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/ecruprinted" alt="" class="product-img">
            <h2 class="product-tittle">ecruprinted kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/embroided" alt="" class="product-img">
            <h2 class="product-tittle">embroided kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/ethnicplus" alt="" class="product-img">
            <h2 class="product-tittle">ethnic plus kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/womenkurta/fancykrutaset" alt="" class="product-img">
            <h2 class="product-tittle">fancy kruta sets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/heavykurta" alt="" class="product-img">
            <h2 class="product-tittle">heavy kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/indiankurta" alt="" class="product-img">
            <h2 class="product-tittle">indian kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/kurtaset" alt="" class="product-img">
            <h2 class="product-tittle">kurta sets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/longkurta" alt="" class="product-img">
            <h2 class="product-tittle">long kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
          <div class="product-box">
            <img src="../../assets/womenkurta/touchin" alt="" class="product-img">
            <h2 class="product-tittle">touch in kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/neck" alt="" class="product-img">
            <h2 class="product-tittle">neck kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/womenkurta/net" alt="" class="product-img">
            <h2 class="product-tittle">net kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/womenkurta/partywear" alt="" class="product-img">
            <h2 class="product-tittle">party wear kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/womenkurta/pronied kurta with dupatta" alt="" class="product-img">
            <h2 class="product-tittle">pronied kurta with dupatta kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 
      
        <div class="product-box">
            <img src="../../assets/womenkurta/puregeorgette" alt="" class="product-img">
            <h2 class="product-tittle">pure georgette kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 

        <div class="product-box">
            <img src="../../assets/womenkurta/rayonanarkali" alt="" class="product-img">
            <h2 class="product-tittle">rayon anarkali kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 

        <div class="product-box">
            <img src="../../assets/womenkurta/silkkurtaset" alt="" class="product-img">
            <h2 class="product-tittle">silk kurta sets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 

        <div class="product-box">
            <img src="../../assets/womenkurta/solidkurta" alt="" class="product-img">
            <h2 class="product-tittle">solid kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 

        <div class="product-box">
            <img src="../../assets/womenkurta/stylish" alt="" class="product-img">
            <h2 class="product-tittle">stylish kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div> 

        <div class="product-box">
            <img src="../../assets/womenkurta/stylishpartywear" alt="" class="product-img">
            <h2 class="product-tittle">stylish partywear kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
       
</div>
</section>