<div class="container">

    <div class="container-up">
        <a routerLink="/normalbeds">
        <div class="card" >
            <img src="../assets/chairs/bed1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5>Beds</h5>
            </div>
          </div>
          </a>
          <div class="card">
            <img src="../assets/chairs/rounded.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>rounded beds</h5>      
            </div>
          </div>
          <div class="card">
            <img src="../assets/chairs/fourposter.jpeg" class="card-img-top" alt="...">
            <div class="card-body">  
                <h5>four poster beds</h5>       
            </div>
          </div>
          <div class="card">
            <img src="../assets/chairs/bunk beds.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>bunk beds</h5>
            </div>
          
          </div>
    </div>
    <div class="container-up">
      <div class="card">
        <img src="../assets/chairs/Storage Beds.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Storage Beds</h5>
        </div>
      
      </div>
      <div class="card" >
          <img src="../assets/chairs/Trundle Beds.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Trundle Beds</h5>
          </div>
        </div>
        <div class="card">
          <img src="../assets/chairs/Loft Beds.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Loft Beds</h5>      
          </div>
        </div>
        <div class="card">
          <img src="../assets/chairs/Cot Beds.jpeg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5> Cot Beds</h5>       
          </div>
        </div>
        
  </div>
  </div>
  
  
  