<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Kids jeans for Girls</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans1.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$30</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans2.webp" alt="" class="product-img">
            <h2 class="product-tittle">Embellished Blue Color</h2>
            <span class="price">$20</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans3.webp" alt="" class="product-img">
            <h2 class="product-tittle">Multicolor</h2>
            <span class="price">$30</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans4.webp" alt="" class="product-img">
            <h2 class="product-tittle">Dark Blue</h2>
            <span class="price">$50</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans5.webp" alt="" class="product-img">
            <h2 class="product-tittle">yellow</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans6.webp" alt="" class="product-img">
            <h2 class="product-tittle">Multicolor</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans7.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans8.webp" alt="" class="product-img">
            <h2 class="product-tittle">pink</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans9.webp" alt="" class="product-img">
            <h2 class="product-tittle">black</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans10.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans11.webp" alt="" class="product-img">
            <h2 class="product-tittle">maroon</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans12.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans13.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans14.webp" alt="" class="product-img">
            <h2 class="product-tittle">light green</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans15.webp" alt="" class="product-img">
            <h2 class="product-tittle">red</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/girljeans16.jpg" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/girljeans17.webp" alt="" class="product-img">
            <h2 class="product-tittle">dark green</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/girljeans18.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">pink</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box19-->
          <div class="product-box">
            <img src="../../assets/kidsimages/girljeans19.jpg" alt="" class="product-img">
            <h2 class="product-tittle">light green</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box20 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/girljeans20.jpg" alt="" class="product-img">
            <h2 class="product-tittle">light pink</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box21 -->
         <div class="product-box">
          <img src="../../assets/kidsimages/girljeans21.jpg" alt="" class="product-img">
          <h2 class="product-tittle">baby pink</h2>
          <span class="price">$xxxx</span>
          <i class='bx bx-heart add-heart'></i>
          <i class='bx bx-shopping-bag add-cart'></i>
      </div>
       <!-- product box22 -->
       <div class="product-box">
        <img src="../../assets/kidsimages/girljeans22.webp" alt="" class="product-img">
        <h2 class="product-tittle">purple</h2>
        <span class="price">$xxxx</span>
        <i class='bx bx-heart add-heart'></i>
        <i class='bx bx-shopping-bag add-cart'></i>
    </div>
     <!-- product box23 -->
     <div class="product-box">
      <img src="../../assets/kidsimages/girljeans23.webp" alt="" class="product-img">
      <h2 class="product-tittle">blue</h2>
      <span class="price">$xxxx</span>
      <i class='bx bx-heart add-heart'></i>
      <i class='bx bx-shopping-bag add-cart'></i>
  </div>
  
  <!-- product box24 -->
  <div class="product-box">
    <img src="../../assets/kidsimages/girljeans24.webp" alt="" class="product-img">
    <h2 class="product-tittle">pink</h2>
    <span class="price">$xxxx</span>
    <i class='bx bx-heart add-heart'></i>
    <i class='bx bx-shopping-bag add-cart'></i>
  </div>
 </div>

</section>