<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/microwave">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/microwave1.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">LG</h5>
                <p class="card-text">Apple Macbook air pro with core i5 and i3 laptops.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/microwave">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/microwave2.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sumsung</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/microwave">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/microwave3.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">IFB </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/microwave">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/microwave4.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Whirlpool</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/microwave">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/microwave5.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Panasonic</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/microwave">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/microwave6.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Bajaj </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/microwave">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/microwave7.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Havells </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/microwave">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/microwave8.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Crompton</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
  </div>
  
  