<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/white-sweatshirt1.jpg" alt="" class="product-img">
            <h2 class="product-tittle">white-sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/limeroadsweatshirt2.jpg" alt="" class="product-img">
            <h2 class="product-tittle">limeroadsweatshirt </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/white sweatshirt3.webp" alt="" class="product-img">
            <h2 class="product-tittle">white sweatshirt </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/colorblock sweatshirt4.avif" alt="" class="product-img">
            <h2 class="product-tittle"> colorblock sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/longsleevesweater5.jpg" alt="" class="product-img">
            <h2 class="product-tittle">longsleevesweater</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/roundnecksweatshirt6.avif" alt="" class="product-img">
            <h2 class="product-tittle">roundnecksweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/cotton sweatshirts7.webp" alt="" class="product-img">
            <h2 class="product-tittle"> cotton sweatshirts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/orange sweatshirt8.jpg" alt="" class="product-img">
            <h2 class="product-tittle">orange sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/black sweatshirt9.jpg" alt="" class="product-img">
            <h2 class="product-tittle">black sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/longsleeve sweatshirt10.avif" alt="" class="product-img">
            <h2 class="product-tittle">longsleeve sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/baby-pink-sweatshirt-11.webp" alt="" class="product-img">
            <h2 class="product-tittle">baby-pink-sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/young-man-wearing-blank-maroon-sweat shirt12.jpg" alt="" class="product-img">
            <h2 class="product-tittle">maroon-sweat shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/green sweatshirt13.avif" alt="" class="product-img">
            <h2 class="product-tittle">green sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/red sweatshirt14.jpg" alt="" class="product-img">
            <h2 class="product-tittle">red sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/hooded solid men sweatshirt15.webp" alt="" class="product-img">
            <h2 class="product-tittle">hooded solid men sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/colorblocksweatshirt16.avif" alt="" class="product-img">
            <h2 class="product-tittle">colorblocksweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/mensweatshirt/blue sweatshirt.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/mensweatshirt/blank green sweatshirt18.jpg" alt="" class="product-img">
            <h2 class="product-tittle">blank green sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/sweatshirt under+armour19.jpg" alt="" class="product-img">
            <h2 class="product-tittle">sweatshirt under+armour</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/yellow sweatshirt20.jpg" alt="" class="product-img">
            <h2 class="product-tittle">yellow sweatshir</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/black sweatshirt9.jpg" alt="" class="product-img">
            <h2 class="product-tittle">black sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/mensweatshirt/outerwear sweatshirt22.webp" alt="" class="product-img">
            <h2 class="product-tittle">outerwear sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/mensweatshirt/oversized black sweatshirt.avif" alt="" class="product-img">
            <h2 class="product-tittle">oversized black sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/mensweatshirt/white sweatshirt24.avif" alt="" class="product-img">
            <h2 class="product-tittle">white sweatshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>