
<div class="containers">
    <div class="blur-bg-overlay" #blurBgOverlay></div>
    <div class="form-popup" #formPopup>
        <span class="close-btn material-symbols-rounded" (click)="hidePopup()"><i class="bi bi-x"></i></span>
       
        <div class="form-box before" id="before1" >
            <div class="form-details">
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum, ipsum recusandae qui omnis, quo nostrum, impedit temporibus iure est quos culpa facere vel excepturi!</p>
            </div>
            <div class="form-content">
                <h2>INFO</h2>
                <form (submit)="info($event)">
                    <div class="input-field">
                        <input type="text" name="name" id="name">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="email" id="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="tel" name="phone" id="phone">
                        <label for="phone">Phone</label>
                    </div>
                    <button type="submit" click="info">Request for more Information</button>
                </form>
            </div>
        </div>
    
     
        <div class="form-box after" id="after1" >
            <div class="form-details">
           
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum, ipsum recusandae qui omnis, quo nostrum, impedit temporibus iure est quos culpa facere vel excepturi!</p>
            </div>
            <div class="form-content">
                <h2>INFO....</h2>
                <form (submit)=" handleinfo1Submit($event)">
                    <div class="input-field">
                        <input type="text" name="company" id="company">
                        <label for="company">Company</label>
                    </div>
                    <div class="input-field">
                        <textarea name="description" id="description" [(ngModel)]="descriptionText" (input)="checkDescription()"></textarea> 
                        <label for="description" [class.hidden]="descriptionText">Description in few words</label>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" name="policy" id="policy" >
                        <label for="policy">I agree <a href="#">I would like to receive updates from PMART ENTERPRISES.</a></label>
                    </div>
                    <button type="submit" class="send">Send</button>
                </form>
            </div>
        </div>
    </div>