
    <div class="container-up">
        <a routerLink="/women">
          <div class="card">
            <div class="front-card">
          <img src="../assets/images/women1.png" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
          <h5>Womens</h5>
          </div>
        </div>
      </div>
      </a>
        <a routerLink="/mens">
          <div class="card">
            <div class="front-card">
            <img src="../assets/images/men.jpg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
                <h5>Mens</h5>      
            </div>
          </div>
        </div>  
        </a>
       
        <a routerLink="/kids"> 
          <div class="card" >
            <div class="front-card">
            <img src="../assets/images/kids.jpg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">  
                <h5>Kids</h5>       
            </div>
          </div>
        </div>
        </a>

          <a routerLink="/footware">
          <div class="card">
            <div class="front-card">
            <img src="../assets/images/footware2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
                <h5>Footware</h5>
            </div>
          </div>
        </div>
        </a>
         
    </div>
    <div class="container-up">
      <a routerLink="/watches">
        <div class="card" >
          <div class="front-card">
            <img src="../assets/images/watch5.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
            <h5>Watches</h5>
            </div>
          </div>
        </div>
        </a>
          <a routerLink="/handbages">
          <div class="card">
            <div class="front-card">
            <img src="../assets/images/handbags.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
                <h5>Bags</h5>      
            </div>
          </div>
        </div>
        </a>
        <a routerLink="/accessories">
          <div class="card">
            <div class="front-card">
            <img src="../assets/images/accessories.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">  
                <h5>Accessories</h5>       
            </div>
          </div>
        </div>
         </a>
          <a routerLink="/glasses">
          <div class="card">
            <div class="front-card">
            <img src="../assets/images/glasses.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
                <h5>Glasses</h5>
            </div>
          </div>
          </div>
        </a>
    </div>
 
  
  
