<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/menjackets/spring jacket1.webp" alt="" class="product-img">
            <h2 class="product-tittle">spring jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>

            <button class="quick-view-btn" (click)="showAdditionalContent($event)">Quick View</button>
        <div class="additional-content" #additionalContent>
                <!-- Additional content to show on Quick View -->
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Details: Lorem ipsum details for Product</p>
                <button class="close-all-button" (click)="closeAllAdditionalContent()">Close All</button>
            </div>

        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/menjackets/wear white jacket 2.1.webp" alt="" class="product-img">
            <h2 class="product-tittle">wear white jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>

            <button class="quick-view-btn" (click)="showAdditionalContent($event)">Quick View</button>
        <div class="additional-content" #additionalContent>
                <!-- Additional content to show on Quick View -->
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Details: Lorem ipsum details for Product</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque optio totam, consequuntur tenetur deleniti possimus temporibus, cumque accusamus doloribus, sint a numquam facere voluptatum aliquam pariatur? Maxime dolores laudantium consequuntur! Consequuntur laudantium quaerat tempore fugit, iusto nam dolor cupiditate. Expedita similique asperiores neque ex corrupti praesentium cum dolores et? Ullam.</p>
                <img src="../../assets/boat-4395122_1280.jpg" alt="" width="100px" height="100px">
                <button class="close-all-button" (click)="closeAllAdditionalContent()">Close All</button>
            </div>

        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/menjackets/leather jacket3.jpg" alt="" class="product-img">
            <h2 class="product-tittle">leather jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
            <button class="quick-view-btn" (click)="showAdditionalContent($event)">Quick View</button>
        <div class="additional-content" #additionalContent>
                <!-- Additional content to show on Quick View -->
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Details: Lorem ipsum details for Product</p>
                <button class="close-all-button" (click)="closeAllAdditionalContent()">Close All</button>
            </div>

        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/menjackets/style jacket4.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> style jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>

            <button class="quick-view-btn" (click)="showAdditionalContent($event)">Quick View</button>
        <div class="additional-content" #additionalContent>
                <!-- Additional content to show on Quick View -->
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Details: Lorem ipsum details for Product</p>
                <button class="close-all-button" (click)="closeAllAdditionalContent()">Close All</button>
            </div>
            
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/menjackets/casual black padded jacket5.webp" alt="" class="product-img">
            <h2 class="product-tittle">casual black padded jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/menjackets/cotton jacket6.jpg" alt="" class="product-img">
            <h2 class="product-tittle">cotton jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/menjackets/jacket for winter7.jpg" alt="" class="product-img">
            <h2 class="product-tittle">jacket for winter</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/menjackets/textured jacket8.avif" alt="" class="product-img">
            <h2 class="product-tittle">textured jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/menjackets/windcheaterjacket9.webp" alt="" class="product-img">
            <h2 class="product-tittle">wind cheater jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/menjackets/color block jacket10.webp" alt="" class="product-img">
            <h2 class="product-tittle"> color block jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/menjackets/green jacket11.jpg" alt="" class="product-img">
            <h2 class="product-tittle">green jacket1</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/menjackets/blue coat jackets12.avif" alt="" class="product-img">
            <h2 class="product-tittle">blue coat jackets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/menjackets/light green jacket13.avif" alt="" class="product-img">
            <h2 class="product-tittle">light green jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/menjackets/brown leather jacket14.jpg" alt="" class="product-img">
            <h2 class="product-tittle">brown leather jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/menjackets/red lather jacket15.webp" alt="" class="product-img">
            <h2 class="product-tittle"> red lather jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/menjackets/ski jacket16.jpg" alt="" class="product-img">
            <h2 class="product-tittle">ski jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/mensweatshirt/sweatshirt portrait sleeve17.webp" alt="" class="product-img">
            <h2 class="product-tittle">sweatshirt portrait sleeve</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/menjackets/fashion jacket18.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">fashion jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/menjackets/yellow leather jacket19.webp" alt="" class="product-img">
            <h2 class="product-tittle">yellow leather jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/menjackets/black leather jacket20.webp" alt="" class="product-img">
            <h2 class="product-tittle">black leather jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/menjackets/white jackets21.webp" alt="" class="product-img">
            <h2 class="product-tittle">white jackets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/menjackets/fashion blue jacket22.jpg" alt="" class="product-img">
            <h2 class="product-tittle">fashion blue jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/menjackets/brown jacket23.jpg" alt="" class="product-img">
            <h2 class="product-tittle">brown jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/menjackets/casual jacket24.webp" alt="" class="product-img">
            <h2 class="product-tittle">casual jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>