<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/mixers">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/mixer1.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Preethi</h5>
                <p class="card-text">Apple Macbook air pro with core i5 and i3 laptops.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/mixers">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/mixer2.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Philips</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/mixers">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/mixer3.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Bajaj</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/mixers">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/mixer4.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Butterfly</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/mixers">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/mixer5.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Prestige </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/mixers">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/mixer6.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Sujata</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/mixers">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/mixer7.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Usha</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/mixers">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/mixer8.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Maharaja Whiteline </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
  </div>
  
  