
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height:680px;
    margin-top:10px;
}

.emailcontainer {
    margin-top:0px;
    width: 70%;
    max-height: 750px;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px #ff0c0c;
	border-color: red;
    display: flex;
    flex-wrap: wrap;
	border-radius: 5px;
}

.supportcontainer, .textcontainer {
    flex: 1;
    min-width: 300px; 
    /* padding: 20px; */
    box-sizing: border-box;
    max-height: 640px;
}

.supportcontainer {
	color: #fff;
	border-radius: 5px;
    background-color: rgb(244, 6, 6);
}

h1 {
	font-weight: 600;
	text-decoration: underline;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-top: 20px;
}

p {
	position: relative;
	bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
}

span, input, button {
    display: block;
    width: 90%;
	text-align: left;
   
}

input, button {
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
	margin-top: 50px;
    cursor: pointer;
	text-align: center;
}

#message {
    height: 100px;
	width: 90%;
    position: relative;
    top: 30px;
	border-radius: 10px;
    resize: vertical; 
}

.textcontainer img {
    width: 80%;
    height:250px;
}

.info li {
    margin-bottom: 20px;
	padding-left: 25px;
}
span i{
	font-size: 30px;
	font-weight: 600;
    position: relative;
	top: 40px;
}
.text{
	font-size: 18px;
	position: relative;
    top: 15px;
	left: 40px;
}
.data, .data1, .data2{
    position: relative;
    top: 35px;
	/* padding-top: 20px; */
	text-align: left;
}
.textarea{
    position: relative;
    top: 20px;
}
@media (max-width:1024px) {
  .supportcontainer{
	padding: 10px;
  }
  .emailcontainer {
    width: 80%;
    max-height: 600px;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0 0 20px #ff0c0c;
	border-color: red;
    display: flex;
    flex-wrap: wrap;
	border-radius: 5px;
}
}
@media (max-width: 768px) {
    .emailcontainer {
        flex-direction: column; 
        width: 90%; 
        max-width: none; 
        box-shadow: none; 
        margin-top: 50px; 
    }
    .supportcontainer, .textcontainer {
        width: 50%;
		text-align: center; 
    }
	h1,p{
		text-align: left;
		padding-left: 10px;
	}
    .textcontainer img {
        width: 100%; 
        height: auto; 
    }
    span, input, button {
        width: 100%;
        margin-bottom: 10px; 
        padding-left: 2px; 
        text-align: left; 
    }
	span i{
		position: relative;
		top: 40px;
	}
    button {
        margin-top: 10px; 
		text-align: center;
		position: relative;
		bottom: 40px;
    }
	input{
		position: relative;
		bottom: 30px;
	}
	span{
		position: relative;
		bottom: 15px;
	}
	#message{
		height: 100px;
		position: relative;
		bottom: 40px;
	}
}
@media (max-width: 425px) {
	
	p{
		padding: 0;
		font-size: 15px;
	}
	body{
		flex-direction: column;
		margin-top: 120px;
	}
   .emailcontainer{
	height: 850px;
    width: 100%;
	flex-direction: column;
        padding: 0%;
		margin: 0%;
   }
   .supportcontainer{
	height: 850px;
    width: 80%;
	flex-direction: column;
   }
   .textcontainer{
	background-color: #fff;
	width: 75%;
	font-size: 19px;
	text-align: left;
   }
   #message{
	height: 80px;
	padding: 0%;
   }
   button{
	position: relative;
	bottom: 40px;
   }
}