<body>
    <div class="emailcontainer">
        <div class="supportcontainer">
             <h1>Let's talk</h1>
             <p>The support service of your Google Cloud organization,
                 such as Enhanced Support or Premium Support. Your service determines 
                 weather case support is available 24 hours a day, 7 days a week (24/7). Otherwise, 
                Customer Care is available during Hours of Operation or Business Days.
                 <span class="data">Your Name</span><br/>
                <input type="text" name="Your Name" required>
                <span class="data1">Your Email</span><br/>
                <input type="text" name="Your Email" required>
                <span class="data2">Your Message</span><br/>
                <!-- <input type="text-area" name="Your Message" id="message" required><br/><br/> -->
                <textarea name="send Message" id="message"></textarea>
                <button>Send Message</button>
        </div>
        <div class="textcontainer">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSScB-ThDcm0WnCGcIqd3sPYkM-urDknbOH_A&s" alt=""> -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQoD8lkOxPc7BshTRU3g5qOSH7Z8BtHOQMSg&s" alt="">
            <ul class="info">
                <li>
                    <span><i class="bi bi-geo-alt"></i></span>
                    <span class="text">Bangara Hill, Road No.10,<br/>Hyderabad.</span><br/>
                </li>
                <li>
                    <span><i class="bi bi-telephone"></i></span>
                    <span class="text">+91 123 456 7890</span><br/>
                </li>
                <li>
                    <span><i class="bi bi-envelope"></i></span>
                    <span class="text">pmarttechsup&amp;gmail.com</span><br/>
                </li>
            </ul>
        </div>
    </div>
</body>