<body>
    <section>
    <h1>Terms and Conditions</h1>
    <div class="terms-container">
        <h2>Introduction</h2>
        <p>Welcome to PMART ENTERPRISES. These terms and conditions outline the rules and regulations for the use of PMART ENTERPRISES's website.</p>
        
        <h2>License</h2>
        <p>Unless otherwise stated, PMART ENTERPRISES and/or its licensors own the intellectual property rights for all material on PMART ENTERPRISES. All intellectual property rights are reserved. You may access this material from PMART ENTERPRISES for your own personal use, subject to the restrictions set in these terms and conditions.</p>
        
        <h2>User Account</h2>
        <p>To access certain features of the website, you may be required to create an account. You agree to provide accurate and complete information during the registration process and to update such information as necessary.</p>
        
        <h2>Privacy Policy</h2>
        <p>Your privacy is important to us. Please read our Privacy Policy [link] to understand how we collect, use, and share your personal information.</p>
        
        <h2>Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [State/Country], and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

        <h2>Changes to Terms</h2>
        <p>We may update these terms from time to time. We will notify you of any changes by posting the new terms on this page. You are advised to review this page periodically for any changes.</p>
    </div>
    <div class="button-container">
        <button class="button accept">Accept</button>
        <button class="button decline">Decline</button>
    </div>
</section>
</body>