<section class="about-section">
    <div class="container">
        <div class="row clearfix"> 
            <!--Content Column-->
             <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="title">About Us</div>
                        <h4>Welcome to PMART ENTERPRISES, where innovation meets excellence!
                            We are a dynamic and forward-thinking company committed to providing
                            top-notch products and services to our valued customers. At PMART ENTERPRISES,
                            we believe in fostering lasting relationships and delivering solutions that exceed expectations.
                            About PMART ENTERPRISES. </h4>
                       </div>

                    </div>
            </div>
            
            <!--Image Column -->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="https://i.ibb.co/vQbkKj7/about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ..................cards........................ -->

 <div class="containers">
        <div class="row mt-3">
            <div class="col-lg-4">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <img src="../../assets/aboutimg" alt="">
                        </div>
                        <h5 class="text">Our Mission</h5>
                        <p class="content">  
                            To be a leading force in the industry, setting new standards <br/>
                            of quality and reliability while continuously innovating to<br/>
                             meet the evolving needs of our customers.
                        </p>
                    </div>
            </div>

            <div class="col-lg-4">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <img src="../../assets/aboutimage" alt="">
                        </div>
                        <h5 class="text">Our Vision</h5>
                        <p class="content">Empowering businesses and individuals by offering<br/>
                             cutting-edgeproducts and services, coupled with exceptional <br/>
                             customer service, to drive success and growth. </p>
                    </div>
            </div>

            <div class="col-lg-4">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <img src="../../assets/downloadabout" alt="">
                        </div>
                        <h5 class="text">Our values </h5>
                        <p class="content">"At PMART ENTERPRISES, our mission is to<br/>
                            enhance the lives of our customers by providing them with high-quality,<br/>
                            affordable products that cater to their diverse needs. 
                        </p>
                    </div>
            </div>
        </div>
    </div> 

    <!-- ......................................................... -->
    
    <section class="about" id="about">
        <div class="main-container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt="about" class="img"width="70%" height="370px">
                    <img src="../../assets/bgimg" alt="" id="secondimg" width="30%" height="330px" >
                    <img src="../../assets/downloadimg" alt="" id="lastimg" width="25%" height="300px">
                </div>
                <div class="col-lg-6" id="mini-container">
                    <h3>Learn More </h3>
                    <p>We offer a wide range of solutions, from cutting-edge digital marketing and branding strategies to top-tier online shopping experiences.
                         Our focus on awesome and creative design ensures that every product and service we provide is not only functional but also aesthetically pleasing.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4><i class="bi bi-star-fill"></i> Awesome Design</h4>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="bi bi-star-fill"></i> Creative Design</h4>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="bi bi-star-fill"></i> Better Client Service</h4>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="bi bi-star-fill"></i>  Digital Marketing & Branding</h4>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="bi bi-star-fill"></i> Online Shopping</h4>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="bi bi-star-fill"></i> Speed And Flexibility</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- ........directors..... -->
<section id="our-Team">
    <h2>Board of Directors</h2>
    <div class="teamContainer">
        <div class="team-item">
            <div class="flip-card">
                <div class="flip-card-inner" id="font">
                    <div class="flip-card-front">
                        <img src="../../assets/imagesdownload" alt="">
                    </div>
                    <div class="flip-card-back">
                        <h5 class="member-name">PULIPAKA UMA MAHESHWARA DURGA PRASAD</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-item">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/downloadimg" alt="">
                    </div>
                    <div class="flip-card-back">
                        <h5 class="member-name">PULIPAKA NEELIMA</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .....................Our Team................... -->
<h1>Our Team</h1>
<div class="cardlead" style="width: 9.5rem;">
    <img src="../../assets/images/mam" class="card-img-top fade-in-out" alt="...">
    <div class="card-body">
      <h2 class="card-title">Vineela Thadikamalla</h2>
      <h4>Desigation:XXXXXX</h4>
    </div>
  </div>
  
  <section class="ourteam">
    <div class="card" style="width: 9.5rem;">
      <img src="../../assets/images/employee" class="card-img-top fade-in-out" alt="...">
      <div class="card-body">
        <h2 class="card-title">Lalitha Koruprolu</h2>
        <h4>Desigation:XXXXXX</h4>
      </div>
    </div>
    <div class="card" style="width: 9.5rem;">
      <img src="../../assets/images/employee" class="card-img-top fade-in-out" alt="...">
      <div class="card-body">
        <h2 class="card-title">Jyothsna Pativada</h2>
        <h4>Desigation:XXXXXX</h4>
      </div>
    </div>
    <div class="card" style="width: 9.5rem;">
      <img src="../../assets/images/employee" class="card-img-top fade-in-out" alt="...">
      <div class="card-body">
        <h2 class="card-title">Lavanya Madhuri Dasari</h2>
        <h4>Desigation:XXXXXX</h4>
      </div>
    </div>
    <div class="card" style="width: 9.5rem;">
      <img src="../../assets/images/employee" class="card-img-top fade-in-out" alt="...">
      <div class="card-body">
        <h2 class="card-title">HariPriya Yalabolu</h2>
        <h4>Desigation:XXXXXX</h4>
      </div>
    </div>
  </section>
  