<div class="container">
    <div class="container-up">
      <a routerLink="/laptops">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/laptops5.avif" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>Laptops</h1>
            </div>
          </div>
        </div>
      </a>
      <a routerLink="/mobiles">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/mobile1.jpg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>Mobiles</h1>
            </div>
          </div>
        </div>
      </a>
      <a routerLink="/tabs">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/tablet1.jpg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>Tablets</h1>
            </div>
          </div>
        </div>
      </a>   
      <a routerLink="/smartwatchesnoise">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/smartwatch2.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>Smart Watches</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="container-up">
      <a routerLink="/headset">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/earpods2.webp" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>HeadSets</h1>
            </div>
          </div>
        </div>
      </a>
      <a routerLink="/speakershomeaudio">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/speakers1.webp" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>Speakers</h1>
            </div>
          </div>
        </div>
      </a>
      <a routerLink="/computeraccessories">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/keyboard.png" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>Computer accessories</h1>
            </div>
          </div>
        </div>
      </a>
      <a routerLink="/cameratypes">
        <div class="card">
          <div class="front-card">
            <img src="../assets/images/cemera1.avif" class="card-img-top" alt="...">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>Cameras</h1>
            </div>
          </div> 
        </div>
      </a>
    </div>
  </div>
  



   <!-- <div class="container">
    <div class="container-up" >
      <a *ngFor="let item of electronics" [routerLink]="[item.route]">
        <div class="card">
          <div class="front-card">
            <img [src]="item.imageUrl" class="card-img-top" alt="{{ item.name }}">
          </div>
          <div class="back-card">
            <div class="card-body">
              <h1>{{ item.name }}</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div> -->