<!-- shop container -->
<section class="shop container">
  <!-- <h2 class="section-tittle">Trousers products</h2> -->
  <div class="shop-content">
      <!-- product box1 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/readymade dhoti1.webp" alt="" class="product-img">
          <h2 class="product-tittle">readymade dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box2 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/kurta dhoti2.webp" alt="" class="product-img">
          <h2 class="product-tittle">kurta dhot</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box3 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/cotton dhoti3.jpg" alt="" class="product-img">
          <h2 class="product-tittle">cotton dhot</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box4 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/stylish dhoti4.jpg" alt="" class="product-img">
          <h2 class="product-tittle"> stylish dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box5 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/handloom cotton dhoti5" alt="" class="product-img">
          <h2 class="product-tittle">handloom cotton dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
       <!-- product box6 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/silk dhoti 6.jpg" alt="" class="product-img">
          <h2 class="product-tittle">silk dhoti </h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box7 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/jari border dhoti7.webp" alt="" class="product-img">
          <h2 class="product-tittle">jari border dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
       <!-- product box8 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/mens cotton white single layered dhoti8.webp" alt="" class="product-img">
          <h2 class="product-tittle">white single layered dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box9-->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/cotton printed dhoti kurta9.webp" alt="" class="product-img">
          <h2 class="product-tittle">cotton printed dhoti kurta</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box10 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/art silk dhoti 10.jpg" alt="" class="product-img">
          <h2 class="product-tittle"> art silk dhoti </h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box11 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/light grey silk kurta with dhoti 11.webp" alt="" class="product-img">
          <h2 class="product-tittle">light grey silk kurta with dhoti </h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box12 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/readymade dhoti kurta12.webp" alt="" class="product-img">
          <h2 class="product-tittle">readymade dhoti kurta</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box13 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/White-Dupion-Silk-Readymade-Dhoti-Kurta 13.jpg" alt="" class="product-img">
          <h2 class="product-tittle">White-Dupion-Silk-Readymade-Dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box14 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/creamsolid dhoti14.jpg" alt="" class="product-img">
          <h2 class="product-tittle">creamsolid dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box15 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/yellow color polyster 15.webp" alt="" class="product-img">
          <h2 class="product-tittle"> yellow color polyster</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box16 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/silk readymade dhoti 16.webp" alt="" class="product-img">
          <h2 class="product-tittle">silk readymade dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box17 -->
        <div class="product-box">
          <img src="../../assets/mendhotisimg/fashion dhoti17.webp" alt="" class="product-img">
          <h2 class="product-tittle">fashion dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box18 -->
        <div class="product-box">
          <img src="../../assets/mendhotisimg/green art silk fabric readymade dhoti18.jpg" alt="" class="product-img">
          <h2 class="product-tittle">green art silk fabric readymade dhoti </h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box19 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/black fancy dhoti 19.jpg" alt="" class="product-img">
          <h2 class="product-tittle">black fancy dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box20 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/designer dhoti20.webp" alt="" class="product-img">
          <h2 class="product-tittle">designer dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box21 -->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/combo dhoti-kurta21.1.jpeg" alt="" class="product-img">
          <h2 class="product-tittle">combo dhoti-kurta</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box22 -->
        <div class="product-box">
          <img src="../../assets/mendhotisimg/dhoti set22.webp" alt="" class="product-img">
          <h2 class="product-tittle">dhoti set</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box23 -->
        <div class="product-box">
          <img src="../../assets/mendhotisimg/green dhoti kurta23.jpg" alt="" class="product-img">
          <h2 class="product-tittle">green dhoti kurta23</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box24-->
      <div class="product-box">
          <img src="../../assets/mendhotisimg/contrast dhoti24.jpg" alt="" class="product-img">
          <h2 class="product-tittle">contrast dhoti</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
  </div>
</section>
