section{
    width: 100%;
    height: 60%;
    background-color: #fff;
    align-items: center;
    text-align: center;
    position: relative;
    top: 30px;
}
section div img{
    position: relative;
    top: 30px;
}
section div h2{
    padding-top: 30px;
}
.btn{
    background-color: blue;
    color: #fff;
    width: 10%;
}
@media(max-width:425px) {
   .btn{
       width: 20%;
    }
}