<div class="container">
  <!-- <div class="container-up">
      <a routerLink="/eletronics"><div class="card">
        <img src="../assets/images/bed1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>Fridge</h5>
        </div>
      </div></a>
       <a routerLink="/fashion">
        <div class="card">
          <img src="../assets/images/footware2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Washing Machines</h5>      
          </div>
        </div>
       </a>
        
      <a routerLink="/furniture"> <div class="card" >
          <img src="../assets/images/mattress1.jpg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>AC</h5>       
          </div>
        </div></a>
        <a routerLink="/homeappliances">
          <div class="card">
            <img src="../assets/images/men.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Mixer Ginders</h5>
            </div>
          </div>
        </a>
       
       
  </div> -->
  <div class="container-up">
      <div class="card" >
          <img src="../assets/images/frock.webp" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Gowns</h5>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/girltop.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Tops</h5>      
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/skirt.webp" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Skirts</h5>       
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/shorts1.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>shorts</h5>
          </div>
        
        </div>
  </div>
  <div class="container-up">
    <div class="card" >
        <img src="../assets/images/girl jeans.webp" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>Jeans</h5>
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/Ethic Wear.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Ethic Wear</h5>      
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/boy shirt.webp" class="card-img-top" alt="...">
        <div class="card-body">  
            <h5>shirts</h5>       
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/boys Jeans.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>boys Jeans</h5>
        </div>
      
      </div>
</div>
<div class="container-up">
  <div class="card" >
      <img src="../assets/images/boy tshirt.webp" class="card-img-top" alt="...">
      <div class="card-body">
      <h5>T-shirts</h5>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/boy Ethic Wear.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Ethic Wear</h5>      
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/boys shorts.webp" class="card-img-top" alt="...">
      <div class="card-body">  
          <h5>Shorts</h5>       
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/boby combo sets.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>baby combo sets</h5>
      </div>
    
    </div>
</div>
</div>


