<div class="container">

  <div class="container-up">
      <div class="card" >
          <img src="../assets/images/saree1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>sarees</h5>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/kurthi3.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Kurthas</h5>      
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/gowns.png" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Gowns</h5>       
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/lehenga.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Lehengas</h5>
          </div>
        
        </div>
  </div>
  <div class="container-up">
    <div class="card">
      <img src="../assets/images/dresses.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Dresses</h5>
      </div>
    
    </div>
    <div class="card" >
        <img src="../assets/images/jeans.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>Jeans</h5>
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/tops.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Tops</h5>      
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/sweatshirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">  
            <h5>sweatshirt</h5>       
        </div>
      </div>
      
</div>
<div class="container-up">
  <div class="card">
    <img src="../assets/images/skirt.avif" class="card-img-top" alt="...">
    <div class="card-body">
        <h5>skirts</h5>
    </div>
  
  </div>
  <div class="card" >
      <img src="../assets/images/tshirts.webp" class="card-img-top" alt="...">
      <div class="card-body">
      <h5>t-shirts</h5>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/nightware.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Nightware</h5>      
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/leggings.jpeg" class="card-img-top" alt="...">
      <div class="card-body">  
          <h5>leggings</h5>       
      </div>
    </div>
   
</div>
</div>


