<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">woman products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/womendresses/Dailywear" alt="" class="product-img">
            <h2 class="product-tittle">Daily wear Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/womendresses/cottonDressMatrials" alt="" class="product-img">
            <h2 class="product-tittle">Cotton Dress Matrials</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/womendresses/coupleKurtaSet" alt="" class="product-img">
            <h2 class="product-tittle">Couple Kurta Sets</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/womendresses/designerdress" alt="" class="product-img">
            <h2 class="product-tittle">Designer Dress</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/womendresses/DolaSilkElegantFashion" alt="" class="product-img">
            <h2 class="product-tittle">Dola Silk Elegant Fashion Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/womendresses/dresses" alt="" class="product-img">
            <h2 class="product-tittle">Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/womendresses/EthnicPanihariBanarasi" alt="" class="product-img">
            <h2 class="product-tittle">Ethnic Panihari Banarasi Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/womendresses/FlazooSet" alt="" class="product-img">
            <h2 class="product-tittle">Plazzo Sets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/womendresses/Floraldresses" alt="" class="product-img">
            <h2 class="product-tittle">Floral Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/womendresses/fabricrealtouch" alt="" class="product-img">
            <h2 class="product-tittle">Fabric Real Touch Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/womendresses/kurtawithDupatta" alt="" class="product-img">
            <h2 class="product-tittle">Kurta with Dupatta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/womendresses/longdress" alt="" class="product-img">
            <h2 class="product-tittle">Long Kruta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/womendresses/softcotton" alt="" class="product-img">
            <h2 class="product-tittle">Soft Cotton Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/womendresses/netdress" alt="" class="product-img">
            <h2 class="product-tittle">Net Dress</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/womendresses/rayonEmbroiedryKurta" alt="" class="product-img">
            <h2 class="product-tittle">Rayon Embroiedry Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/womendresses/softGeorgette" alt="" class="product-img">
            <h2 class="product-tittle">Soft Georgette Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/womendresses/summercotton" alt="" class="product-img">
            <h2 class="product-tittle">Summer cotton Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/womendresses/silkdress" alt="" class="product-img">
            <h2 class="product-tittle">Silk Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 19 -->
        <div class="product-box">
            <img src="../../assets/womendresses/fullyflairanarakali" alt="" class="product-img">
            <h2 class="product-tittle">fully flair anarakali Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
      <!-- 20 -->
        <div class="product-box">
            <img src="../../assets/womendresses/festive" alt="" class="product-img">
            <h2 class="product-tittle">festive wear dresses matrials</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 21 -->
        <div class="product-box">
            <img src="../../assets/womendresses/unsticheddress" alt="" class="product-img">
            <h2 class="product-tittle">Unstiched Dress</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 22 -->
        <div class="product-box">
            <img src="../../assets/womendresses/weddingdress" alt="" class="product-img">
            <h2 class="product-tittle">Wedding Dress</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 23 -->
        <div class="product-box">
            <img src="../../assets/womendresses/womenKurtaSet" alt="" class="product-img">
            <h2 class="product-tittle">women Kurta Set</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 24 -->
        <div class="product-box">
            <img src="../../assets/womendresses/workdresses" alt="" class="product-img">
            <h2 class="product-tittle">Work Dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
    </div>

</section>