<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
        <a routerLink="/smartwatchesnoise">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/eletronics/applewatch.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Apple</h5>
                <p class="card-text">Apple Macbook air pro with core i5 and i3 laptops.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/smartwatchesnoise">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/eletronics/Noisewatch.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Noise</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/smartwatchesnoise">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/eletronics/fitbitwatch.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Fitbit</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/smartwatchesnoise">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/eletronics/realmewatch.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Realmi</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/smartwatchesnoise">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/eletronics/bosewatch.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Fastrack</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/smartwatchesnoise">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/eletronics/onepluswatch.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">oneplus</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/smartwatchesnoise">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/eletronics/jblwtach.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Garmin</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/smartwatchesnoise">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/eletronics/sonysmartwatch.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">IQOO 3</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div> 
  </div>
    
