<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/trousers/trousers1" alt="" class="product-img">
            <h2 class="product-tittle">plane trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/trousers/trousers2.jpg" alt="" class="product-img">
            <h2 class="product-tittle">blue trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/trousers/fit formal trousers3.jpg" alt="" class="product-img">
            <h2 class="product-tittle">fit formal trousers </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/trousers/stripe rounded formal pants.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> stripe rounded formal trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/trousers/wrapstreme trousers 5.webp" alt="" class="product-img">
            <h2 class="product-tittle">wrapstreme trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/trousers/fit trousers6" alt="" class="product-img">
            <h2 class="product-tittle">fit trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/trousers/plane trousers7" alt="" class="product-img">
            <h2 class="product-tittle"> light green plane trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/trousers/fleece trousers 8.jpg" alt="" class="product-img">
            <h2 class="product-tittle">fleece trousers </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/trousers/fit trousers 9.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> gray fit trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/trousers/black trousers11.avif" alt="" class="product-img">
            <h2 class="product-tittle"> black trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/trousers/green slim trousers11.1.jpg
            " alt="" class="product-img">
            <h2 class="product-tittle">green slim trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/trousers/black fit trousers12.avif" alt="" class="product-img">
            <h2 class="product-tittle">black fit trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/trousers/blend trousers 13.1.webp" alt="" class="product-img">
            <h2 class="product-tittle">blend trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/trousers/green cotton blend trousers 14.1.webp" alt="" class="product-img">
            <h2 class="product-tittle">green cotton blend trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/trousers/green slim fit trouser15.jpg" alt="" class="product-img">
            <h2 class="product-tittle">green slim fit trouser</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/trousers/stylish white trousers16.webp" alt="" class="product-img">
            <h2 class="product-tittle">stylish white trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/trousers/fit cargo trousers 17.webp" alt="" class="product-img">
            <h2 class="product-tittle">fit cargo trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/trousers/green cotton trousers 18.webp" alt="" class="product-img">
            <h2 class="product-tittle">green cotton trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/trousers/black casual trousers 19.webp" alt="" class="product-img">
            <h2 class="product-tittle">black casual trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/trousers/brown trousers 20.avif" alt="" class="product-img">
            <h2 class="product-tittle">brown trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/trousers/fashion trousers21.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">fashion trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/trousers/classic men trousers22.jpg" alt="" class="product-img">
            <h2 class="product-tittle">classic men trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/trousers/loose fashion trousers23.jpg" alt="" class="product-img">
            <h2 class="product-tittle">loose fashion trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/trousers/white sand cargo trousers24.webp" alt="" class="product-img">
            <h2 class="product-tittle">white sand cargo trousers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>