<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/straight kurta1.jpg" alt="" class="product-img">
            <h2 class="product-tittle">straight kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/fashionable kurtas2.webp" alt="" class="product-img">
            <h2 class="product-tittle">fashionable kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/full sleeve kurtas3.webp" alt="" class="product-img">
            <h2 class="product-tittle">full sleeve kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/aimovig kurta4.webp" alt="" class="product-img">
            <h2 class="product-tittle"> aimovig kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/ethnic wear kurta5.jpg" alt="" class="product-img">
            <h2 class="product-tittle">ethnic wear kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/ski kurta6.webp" alt="" class="product-img">
            <h2 class="product-tittle">ski kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/orange full slleve kurta7.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange full slleve kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/blue kurtas8.jpg" alt="" class="product-img">
            <h2 class="product-tittle">blue kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/men kurtas/readymade kurta9.jpeg" alt="" class="product-img">
            <h2 class="product-tittle">readymade kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/short kurta 10.1.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> short kurta </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/chocolate kurta11.webp" alt="" class="product-img">
            <h2 class="product-tittle">chocolate kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/cotton kurta 12.jpg" alt="" class="product-img">
            <h2 class="product-tittle">dark-blue short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/aqua solid kurta 13.webp" alt="" class="product-img">
            <h2 class="product-tittle">aqua solid kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/kurta salwar14.webp" alt="" class="product-img">
            <h2 class="product-tittle">kurta salwar</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/casual kurta15.jpg" alt="" class="product-img">
            <h2 class="product-tittle">casual kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/FashionWhiteKurta16.webp" alt="" class="product-img">
            <h2 class="product-tittle">Fashion White Kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/men kurtas/casual short kurtas 17.jpg" alt="" class="product-img">
            <h2 class="product-tittle">casual short kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/men kurtas/blue kurta salwar18.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue kurta salwar</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/dupatta trackstar kurtas19.jpg" alt="" class="product-img">
            <h2 class="product-tittle">dupatta trackstar kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/short straight kurta 20.webp" alt="" class="product-img">
            <h2 class="product-tittle">short straight kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/men kurtas/sky blue kurta 21.jpg" alt="" class="product-img">
            <h2 class="product-tittle">sky blue kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/men kurtas/designer short kurta 22.jpg" alt="" class="product-img">
            <h2 class="product-tittle">designer short kurta </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/men kurtas/black kurta 23.webp" alt="" class="product-img">
            <h2 class="product-tittle">black kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/men kurtas/long kurtas24.avif" alt="" class="product-img">
            <h2 class="product-tittle">long kurtas</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>