<!-- <div class="container">
  <div class="container-up">
      <a routerLink="/">
        <div class="card">
        <img src="../assets/bags/bag1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>Handbages</h5>
        </div>
      </div></a>
       <a routerLink="/fashion">
        <div class="card">
          <img src="../assets/bags/bag2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Sling bags</h5>      
          </div>
        </div>
       </a>
        
      <a routerLink="/furniture"> 
        <div class="card" >
          <img src="../assets/bags/bag3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Backpacks</h5>       
          </div>
        </div></a>
        <a routerLink="/homeappliances">
          <div class="card">
            <img src="../assets/bags/bag8.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Hobo Bags</h5>
            </div>
          </div>
        </a>
       
       
  </div>
  <div class="container-up">
    <a routerLink="/fashion">
      <div class="card" >
          <img src="../assets/bags/bag5.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Wallets</h5>
          </div>
        </div>
      </a>
      <a routerLink="/fashion">
        <div class="card">
          <img src="../assets/bags/bag6.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>clutchs</h5>      
          </div>
        </div>
      </a>
      <a routerLink="/fashion">
        <div class="card">
          <img src="../assets/bags/bag9.jpeg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Office Bags</h5>       
          </div>
        </div>
      </a>
      <a routerLink="/fashion">
        <div class="card">
          <img src="../assets/bags/bag7.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Hobo Bags</h5>
          </div>
        
        </div>
        </a>
  </div>
</div>

 -->
 <div class="container">
  <div class="container-up">
      <div class="card" >
          <img src="../assets/bags/bag1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Handbages</h5>
          </div>
        </div>
        <div class="card">
          <img src="../assets/bags/bag2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Sling bags</h5>      
          </div>
        </div>
        <div class="card">
          <img src="../assets/bags/bag3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Backpacks</h5>       
          </div>
        </div>
        <div class="card">
          <img src="../assets/bags/bag8.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Hobo Bags</h5>
          </div>
        
        </div>
  </div>
  <div class="container-up">
    <div class="card" >
        <img src="../assets/bags/bag5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5> Wallets</h5>
        </div>
      </div>
      <div class="card">
        <img src="../assets/bags/bag6.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>clutchs</h5>      
        </div>
      </div>
      <div class="card">
        <img src="../assets/bags/bag9.jpeg" class="card-img-top" alt="...">
        <div class="card-body">  
            <h5>Office Bags</h5>       
        </div>
      </div>
      <div class="card">
        <img src="../assets/bags/bag7.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Laguage Bags </h5>
        </div>
      
      </div>
</div>
</div>