<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/menjeans/blue jean1.jpg" alt="" class="product-img">
            <h2 class="product-tittle">plane blue jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/menjeans/straight fit mid rise jean 2.jpg" alt="" class="product-img">
            <h2 class="product-tittle">straight fit mid rise jean </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/menjeans/slim fit jean3.jpg" alt="" class="product-img">
            <h2 class="product-tittle">slim fit jean </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/menjeans/grey jean4.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> grey jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/menjeans/slim fit low rise fade jeans5.jpg" alt="" class="product-img">
            <h2 class="product-tittle">slim fit low rise fade jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/menjeans/stretchable jean6.webp" alt="" class="product-img">
            <h2 class="product-tittle">stretchable jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/menjeans/jogger fit jean 7.webp" alt="" class="product-img">
            <h2 class="product-tittle"> jogger fit jean </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/menjeans/black jean8.webp" alt="" class="product-img">
            <h2 class="product-tittle">black jean </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/menjeans/relaxed fit rise blue jean9.webp" alt="" class="product-img">
            <h2 class="product-tittle">relaxed fit rise blue jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/menjeans/light blue jean 10.webp" alt="" class="product-img">
            <h2 class="product-tittle"> light blue jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/menjeans/gray jean11.webp" alt="" class="product-img">
            <h2 class="product-tittle">gray jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/menjeans/dark green jean12.webp" alt="" class="product-img">
            <h2 class="product-tittle">dark green jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/menjeans/tapere fit mid rise bark blue jean13.webp" alt="" class="product-img">
            <h2 class="product-tittle">tappered fit mid rise bark blue jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/menjeans/tappered fit blue jean14.webp" alt="" class="product-img">
            <h2 class="product-tittle">tappered fit blue jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/menjeans/slim rise blue jean15.webp" alt="" class="product-img">
            <h2 class="product-tittle">slim rise blue jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/menjeans/low rise dark blue jean 16.webp" alt="" class="product-img">
            <h2 class="product-tittle">low rise dark blue jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/menjeans/jean17.jpg" alt="" class="product-img">
            <h2 class="product-tittle">loose jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/menjeans/regular low rise blue jean 18.webp" alt="" class="product-img">
            <h2 class="product-tittle">regular low rise blue jean </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/menjeans/tappered low rise black jean19.webp" alt="" class="product-img">
            <h2 class="product-tittle">tappered low rise black jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/menjeans/straight fit jean20.webp" alt="" class="product-img">
            <h2 class="product-tittle">straight fit jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/menjeans/stretch jean21.jpg" alt="" class="product-img">
            <h2 class="product-tittle">stretch jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/menjeans/color block jean22.jpg" alt="" class="product-img">
            <h2 class="product-tittle">color block jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/menjeans/fit stretch jogger jean 23.jpg" alt="" class="product-img">
            <h2 class="product-tittle">fit stretch jogger jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/menjeans/fit pack of 2jeans 24.jpg" alt="" class="product-img">
            <h2 class="product-tittle">fit pack of 2jeans</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>