
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/washingmachine">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/lgwm.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">LG</h5>
                <p class="card-text">Apple Macbook air pro with core i5 and i3 laptops.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/washingmachine">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/Sumsungwm.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sumsung</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/washingmachine">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/ifbwm.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">IFB</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
            </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/washingmachine">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/Whirlpoolwm.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Whirlpool</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
            </a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/washingmachine">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/Electroluxwm.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Electrolux </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/washingmachine">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/Bosch.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Bosch </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/washingmachine">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/Panasonicwm.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Panasonic</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/washingmachine">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/Videoconwm.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Videocon</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
  </div>