<section class="container">
    <h1>Cookies Policy</h1>
    <img src="../../assets/Cookies-Policy" alt="">
    <div>
        <p class="para">PMART Enterprises gathers information about the users at several stages on our website.</p>
        <p>A cookie is a segment of data saved on the device's hard drive and comprises information
           about the user. Many web pages, including this one, employ cookie technology to make it
          easier for our consumers to explore. Our site will periodically seek the cookie from your
          system in order to retrieve the stored information. Understanding how you use the site
          allows us better to customize our information and service to your requirements. For example,
          by placing a cookie on our site, the user will not have to enter their password more than once,
          saving time while on our site. The cookie automatically expires when the user closes their browser.
          Even if visitors deny the cookie, they can still access our website.</p>
          <p class="para">While on our site, using a cookie is not associated with any personal identifiers.</p>
          <p>Cookies may be used on our sites by some of our business partners (such as advertising).
             We do not, however, have direct authority over these cookies. In most browsers, a user may
            configure the options to display a notification each time a cookie request is detected, as 
            well as to prevent the browser from accepting cookies. Nevertheless, to make your visit to 
            our site as easy and comfortable as possible, we recommend that you enable your browser to 
            accept cookies.
          </p>
    </div>
    <div class="imgcontainer">
        <div class="card">
            <img src="../../assets/Terms-and-Conditions" alt=""><br/>
            <a routerLink="/termsandconditions"><h2>Terms-and-Conditions</h2></a>
        </div>
        <div class="card">
            <img src="../../assets/Privacy-Policy" alt=""><br/>
            <a routerLink="/privacypolicy"><h2>Privacy-Policy</h2></a>
        </div>
        <div class="card">
            <img src="../../assets/faqs-policy" alt=""><br/>
            <a routerLink="/faqs"><h2>Faqs</h2></a>
        </div>
    </div>
</section>
