
<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">woman products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/3by4thfrock" alt="" class="product-img">
            <h2 class="product-tittle">3 by 4th frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/bellsleevesfrock" alt="" class="product-img">
            <h2 class="product-tittle">bell sleeves frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/bunaailavender" alt="" class="product-img">
            <h2 class="product-tittle">bunaai lavender frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/butterfly" alt="" class="product-img">
            <h2 class="product-tittle">butterfly frock</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/casualfrock" alt="" class="product-img">
            <h2 class="product-tittle">casual frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/crepe" alt="" class="product-img">
            <h2 class="product-tittle">crepe frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/designerpartywear" alt="" class="product-img">
            <h2 class="product-tittle">designer party wear frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/elegant" alt="" class="product-img">
            <h2 class="product-tittle">elegent frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/womenfrock/embellishedcotton" alt="" class="product-img">
            <h2 class="product-tittle">embellished cotton frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/fashion" alt="" class="product-img">
            <h2 class="product-tittle">fashion frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/festive" alt="" class="product-img">
            <h2 class="product-tittle">festive frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/georgetteembroided" alt="" class="product-img">
            <h2 class="product-tittle">georgette embroided frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/kneelengthfrock" alt="" class="product-img">
            <h2 class="product-tittle">knee length frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/latestfrocks" alt="" class="product-img">
            <h2 class="product-tittle">latest frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/longfrock" alt="" class="product-img">
            <h2 class="product-tittle">long frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/multicolor" alt="" class="product-img">
            <h2 class="product-tittle">multicolor frock </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/womenfrock/nets" alt="" class="product-img">
            <h2 class="product-tittle">net frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/womenfrock/newarrivalsethnic" alt="" class="product-img">
            <h2 class="product-tittle">new arrivals ethnic frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 19 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/newstyle" alt="" class="product-img">
            <h2 class="product-tittle">new style frocks</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
      <!-- 20 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/partywearfrock" alt="" class="product-img">
            <h2 class="product-tittle">party wear frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 21 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/prettydigital" alt="" class="product-img">
            <h2 class="product-tittle">pretty digital frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 22 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/printedfrock" alt="" class="product-img">
            <h2 class="product-tittle">printed frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 23 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/sleeveless" alt="" class="product-img">
            <h2 class="product-tittle">sleeveless frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 24 -->
        <div class="product-box">
            <img src="../../assets/womenfrock/stylishfrock" alt="" class="product-img">
            <h2 class="product-tittle">stylish frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenfrock/trendingfrock" alt="" class="product-img">
            <h2 class="product-tittle">trending frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenfrock/wedding" alt="" class="product-img">
            <h2 class="product-tittle">wedding wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenfrock/western" alt="" class="product-img">
            <h2 class="product-tittle">western wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenfrock/winter" alt="" class="product-img">
            <h2 class="product-tittle">winter wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenfrock/slimfit" alt="" class="product-img">
            <h2 class="product-tittle">slimfit frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenfrock/maxi" alt="" class="product-img">
            <h2 class="product-tittle">long maxi frock</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
    </div>

</section>