<div class="container">
  <div class="container-up">
    <a routerLink="/electronics">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/Laptop2.png" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Electronics</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/fashion">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/fashion9.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Fashion</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/furniture">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/sofa8.png" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Furniture</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/homeappliances">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/fridge.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Home Appliances</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-up">
    <a routerLink="/groceries">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/grocery3.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Groceries</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/toys">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/toys2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Toys</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/beauty">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/beauty1.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Beauty</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/footware">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/footware2.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Footwear</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>






<!-- 
<div class="container">
  <div class="container-up">
    <div *ngFor="let category of categories" class="card">
      <a [routerLink]="category.route">
        <div class="front-card">
          <img [src]="category.image_url" class="card-img-top" alt="{{ category.name }}">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>{{ category.name }}</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->