<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Kids Shirts for Boys</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt1.webp" alt="" class="product-img">
            <h2 class="product-tittle">mixed green</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt2.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$20</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt3.webp" alt="" class="product-img">
            <h2 class="product-tittle">light purple</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt4.webp" alt="" class="product-img">
            <h2 class="product-tittle">skyblue</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt5.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue&multicolor</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt6.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt7.webp" alt="" class="product-img">
            <h2 class="product-tittle">gray</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt8.webp" alt="" class="product-img">
            <h2 class="product-tittle">sky blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt9.webp" alt="" class="product-img">
            <h2 class="product-tittle">black</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt10.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt11.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue&multicolor</h2> 
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt12.webp" alt="" class="product-img">
            <h2 class="product-tittle">white&yash</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt13.webp" alt="" class="product-img">
            <h2 class="product-tittle">white&baby pink</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
             <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt14.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt15.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt16.webp" alt="" class="product-img">
            <h2 class="product-tittle">maroon</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt17.webp" alt="" class="product-img">
            <h2 class="product-tittle">white&multicolor</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt18.webp" alt="" class="product-img">
            <h2 class="product-tittle">navy blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box19-->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt19.webp" alt="" class="product-img">
            <h2 class="product-tittle">black&multicolor</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box20 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshirt20.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
               <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box21 -->
         <div class="product-box">
          <img src="../../assets/kidsimages/boyshirt21.webp" alt="" class="product-img">
          <h2 class="product-tittle">green</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart" ></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
       <!-- product box22 -->
       <div class="product-box">
        <img src="../../assets/kidsimages/boyshirt22.webp" alt="" class="product-img">
        <h2 class="product-tittle">blue with checks</h2>
        <span class="price">$xxxx</span>
        <i class="bi bi-heart add-heart" ></i>
        <i class="bi bi-bag add-cart"></i>
    </div>
     <!-- product box23 -->
     <div class="product-box">
      <img src="../../assets/kidsimages/boyshirt23.webp" alt="" class="product-img">
      <h2 class="product-tittle">maroon</h2>
      <span class="price">$xxxx</span>
      <i class="bi bi-heart add-heart" ></i>
      <i class="bi bi-bag add-cart"></i>
  </div>
  
  <!-- product box24 -->
  <div class="product-box">
    <img src="../../assets/kidsimages/boyshirt24.webp" alt="" class="product-img">
    <h2 class="product-tittle">pink</h2>
    <span class="price">$xxxx</span>
    <i class="bi bi-heart add-heart" ></i>
    <i class="bi bi-bag add-cart"></i>
  </div>
 </div>

</section>