<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">T-Shirt products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/Black T-Shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Black  T-Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/plane t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">plane T-Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/white-t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">white t-shirt </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/full sleeve t-shirt" alt="" class="product-img">
            <h2 class="product-tittle"> Long Sleeve t-Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/Roadster-Plain-Full-Sleeve-T-Shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> full sleeves t-Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/rounded neck t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">rounded neck  t-Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/dots t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">dots t-Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/rounded neck cotton t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">rounded neck cotton t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/Tshirts/yellow t-shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">yellow t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/polo neck t-shirt" alt="" class="product-img">
            <h2 class="product-tittle"> neck t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/t-shirt.webp" alt="" class="product-img">
            <h2 class="product-tittle">t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/white-t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">white-t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/polo t-shirt" alt="" class="product-img">
            <h2 class="product-tittle"> sky cotton t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/white t-shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">white t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/tshirt" alt="" class="product-img">
            <h2 class="product-tittle">checked neck t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/t-shirt1" alt="" class="product-img">
            <h2 class="product-tittle">sea green tshirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/Tshirts/checked rounded t-shirt 2" alt="" class="product-img">
            <h2 class="product-tittle">checked rounded t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/Tshirts/Hooded neck cotton t-shirt3" alt="" class="product-img">
            <h2 class="product-tittle">Hooded neck cotton t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/polyster  roundes neck t-shirt4" alt="" class="product-img">
            <h2 class="product-tittle">polyster  roundes neck t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/colorblock rounded t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">colorblock rounded t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/Tshirts/round neck polyster.webp" alt="" class="product-img">
            <h2 class="product-tittle">round neck polyster t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/Tshirts/green full-sleeve" alt="" class="product-img">
            <h2 class="product-tittle">green full-sleeve t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/Tshirts/round neck red t-shirt.webp" alt="" class="product-img">
            <h2 class="product-tittle">round neck red t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/Tshirts/polyster green t-shirt" alt="" class="product-img">
            <h2 class="product-tittle">polyster green t-shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>