<div class="container">
  <div class="container-up">
    <a routerLink="/sofa">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/sofa1.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Sofas</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/beds">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/bed1.jpg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Beds</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/diningtable">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/dining1.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Dining tables</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/swings">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/swings.jpg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Swings</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-up">
    <a routerLink="/wardrobs">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/wardrob2.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>wardrobs</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/officechairs">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/officechairs.jpg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>office chairs</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/mattresses">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/mattress2.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Mattresses</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/studytable">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/studydesk1.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Study table</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-up">
    <a routerLink="/tvunits">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/tvunit.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Tv Units</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/diwancots">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/diwan.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Diwan Carts</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/shoerack">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/shoerack.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Shoe Racks</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/beanbag">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/beanbag.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Bean Bags</h1>
          </div>
        </div>
      </div>
    </a>
</div>
<div class="container-up">
  <a routerLink="/dressingtable">
    <div class="card">
      <div class="front-card">
        <img src="../assets/images/dressing.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="back-card">
        <div class="card-body">
          <h1>Dressing Tables</h1>
        </div>
      </div>
    </div>
  </a>
  <a routerLink="/coffeetable">
    <div class="card">
      <div class="front-card">
        <img src="../assets/images/tea pai.webp" class="card-img-top" alt="...">
      </div>
      <div class="back-card">
        <div class="card-body">
          <h1>Tea pai</h1>
        </div>
      </div>
    </div>
  </a>
  <a routerLink="/laptopstand">
    <div class="card">
      <div class="front-card">
        <img src="../assets/images/laptopstand.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="back-card">
        <div class="card-body">
          <h1>Laptop stands</h1>
        </div>
      </div>
    </div>
  </a>
  <a routerLink="/chairs">
    <div class="card">
      <div class="front-card">
        <img src="../assets/images/chairs.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="back-card">
        <div class="card-body">
          <h1>chairs</h1>
        </div>
      </div>
    </div>
  </a>
</div>
</div>

