<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Kids Shorts for Boys</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts1.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts2.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$20</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts3.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts4.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts5.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts6.webp" alt="" class="product-img">
            <h2 class="product-tittle">black</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts7.webp" alt="" class="product-img">
            <h2 class="product-tittle">gray</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts8.webp" alt="" class="product-img">
            <h2 class="product-tittle">green</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts9.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts10.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts11.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2> 
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts12.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts13.webp" alt="" class="product-img">
            <h2 class="product-tittle">green</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts14.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts15.webp" alt="" class="product-img">
            <h2 class="product-tittle">yellow</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts16.webp" alt="" class="product-img">
            <h2 class="product-tittle">black</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts17.webp" alt="" class="product-img">
            <h2 class="product-tittle">white&multicolor</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts18.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box19-->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts19.webp" alt="" class="product-img">
            <h2 class="product-tittle">skyblue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box20 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boyshorts20.webp" alt="" class="product-img">
            <h2 class="product-tittle">green</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box21 -->
         <div class="product-box">
          <img src="../../assets/kidsimages/boyshorts21.webp" alt="" class="product-img">
          <h2 class="product-tittle">cream</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
      </div>
       <!-- product box22 -->
       <div class="product-box">
        <img src="../../assets/kidsimages/boyshorts22.webp" alt="" class="product-img">
        <h2 class="product-tittle">blue</h2>
        <span class="price">$xxxx</span>
        <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
    </div>
     <!-- product box23 -->
     <div class="product-box">
      <img src="../../assets/kidsimages/boyshorts23.webp" alt="" class="product-img">
      <h2 class="product-tittle">gray</h2>
      <span class="price">$xxxx</span>
      <i class="bi bi-heart add-heart" ></i>
      <i class="bi bi-bag add-cart"></i>
    
  </div>
  
  <!-- product box24 -->
  <div class="product-box">
    <img src="../../assets/kidsimages/boyshorts24.webp" alt="" class="product-img">
    <h2 class="product-tittle">cream</h2>
    <span class="price">$xxxx</span>
    <i class="bi bi-heart add-heart" ></i>
    <i class="bi bi-bag add-cart"></i>
    
  </div>
 </div>

</section>