<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Kids T-Shirts for Boys</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt1.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue&orange</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt2.webp" alt="" class="product-img">
            <h2 class="product-tittle">red&white</h2>
            <span class="price">$20</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt3.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt4.webp" alt="" class="product-img">
            <h2 class="product-tittle">white&black</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt5.webp" alt="" class="product-img">
            <h2 class="product-tittle">green</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt6.webp" alt="" class="product-img">
            <h2 class="product-tittle">red&black</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt7.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt8.webp" alt="" class="product-img">
            <h2 class="product-tittle">navyblue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt9.webp" alt="" class="product-img">
            <h2 class="product-tittle">maroon</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt10.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt11.webp" alt="" class="product-img">
            <h2 class="product-tittle">red</h2> 
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt12.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt13.webp" alt="" class="product-img">
            <h2 class="product-tittle">red</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt14.webp" alt="" class="product-img">
            <h2 class="product-tittle">green&blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt15.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt16.webp" alt="" class="product-img">
            <h2 class="product-tittle">red</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt17.webp" alt="" class="product-img">
            <h2 class="product-tittle">red&black</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt18.webp" alt="" class="product-img">
            <h2 class="product-tittle">white&gray</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box19-->
          <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt19.webp" alt="" class="product-img">
            <h2 class="product-tittle">yellow</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box20 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/boytshirt20.webp" alt="" class="product-img">
            <h2 class="product-tittle">skyblue&navyblue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box21 -->
         <div class="product-box">
          <img src="../../assets/kidsimages/boytshirt21.webp" alt="" class="product-img">
          <h2 class="product-tittle">orange&blue</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
      </div>
       <!-- product box22 -->
       <div class="product-box">
        <img src="../../assets/kidsimages/boytshirt22.webp" alt="" class="product-img">
        <h2 class="product-tittle">blue&yellow</h2>
        <span class="price">$xxxx</span>
        <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
    </div>
     <!-- product box23 -->
     <div class="product-box">
      <img src="../../assets/kidsimages/boytshirt23.webp" alt="" class="product-img">
      <h2 class="product-tittle">blue with lines</h2>
      <span class="price">$xxxx</span>
      <i class="bi bi-heart add-heart" ></i>
      <i class="bi bi-bag add-cart"></i>
    
  </div>
  
  <!-- product box24 -->
  <div class="product-box">
    <img src="../../assets/kidsimages/boytshirt24.webp" alt="" class="product-img">
    <h2 class="product-tittle">multicolor</h2>
    <span class="price">$xxxx</span>
    <i class="bi bi-heart add-heart" ></i>
    <i class="bi bi-bag add-cart"></i>
    
  </div>
  </div>
  
  </section>