<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">woman products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/leggings/31z" alt="" class="product-img">
            <h2 class="product-tittle">anti-fit jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/leggings/bestrunning" alt="" class="product-img">
            <h2 class="product-tittle">baggy jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/leggings/fitnessplussize" alt="" class="product-img">
            <h2 class="product-tittle">black jean</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/leggings/gym leggings" alt="" class="product-img">
            <h2 class="product-tittle">blue jean</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/leggings/hiking" alt="" class="product-img">
            <h2 class="product-tittle">casual cargo baggy jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/leggings/hotyoga" alt="" class="product-img">
            <h2 class="product-tittle">classic slim jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/leggings/muscular" alt="" class="product-img">
            <h2 class="product-tittle">embroided jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/leggings/plussize" alt="" class="product-img">
            <h2 class="product-tittle">fashion jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/leggings/printerest" alt="" class="product-img">
            <h2 class="product-tittle">Flared jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/leggings/seamlesssoft" alt="" class="product-img">
            <h2 class="product-tittle">gray jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/leggings/shinysimmilar" alt="" class="product-img">
            <h2 class="product-tittle">hiphop jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/leggings/sports" alt="" class="product-img">
            <h2 class="product-tittle">korean jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/leggings/stylish" alt="" class="product-img">
            <h2 class="product-tittle">loose fit jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/leggings/tight" alt="" class="product-img">
            <h2 class="product-tittle">midrise baggy jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/leggings/tightgym" alt="" class="product-img">
            <h2 class="product-tittle">patch work jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/leggings/track" alt="" class="product-img">
            <h2 class="product-tittle">red lip printed jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/leggings/white" alt="" class="product-img">
            <h2 class="product-tittle">regular high rise jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/leggings/yoga" alt="" class="product-img">
            <h2 class="product-tittle">kinny jean</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
</div>
</section>