<div class="container">
  <div class="container-up">
    <a routerLink="/electronics">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/remote car.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Remote Control Toys</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/fashion">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/edu-toy.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Eductaion Toys </h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/furniture">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/soft toy.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>soft Toys</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/homeappliances">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/puzzles.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Puzzles</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-up">
    <a routerLink="/groceries">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/Guns1.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Toy Guns </h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/toys">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/chess.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Board Games</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/beauty">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/cycles.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Cycles/cars</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/footwear">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/house.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Doll House</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
