<section>
    <span class="icon1"><i class="bi bi-shield-lock"></i></span>
<div class="policycontainer">
    <div>
        <h1>PRIVACY POLICY:</h1>
        <h3>We collect various types of information for different purposes to provide and enhance our Service to you.</h3>
        <h2>Types of Data Collected:</h2>
        <b>Personal Data:</b>
        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). This information may include, but is not limited to:<br/>
            ->Email address<br/>
            ->First name and last name<br/>
            ->Phone number<br/>
            ->Address (including State, Province, ZIP/Postal code, and City)<br/>
            -> Cookies and Usage Data<br/>
            ->Use of Data<br/>
           <b>We use the collected data for various purposes, including:</b><br/>
            ->To provide and maintain the Service<br/>
            ->To notify you about changes to our Service<br/>
            ->To provide customer care and support<br/>
            ->To monitor the usage of the Service<br/>
            ->To detect, prevent and address technical issues.
            </p>
            <h2>Disclosure of Data:</h2>
            <p><b>We may disclose your Personal Data in good faith when such action is necessary to:</b><br/>
                -> Comply with a legal obligation<br/>
                -> Protect and defend the rights or property of PMART ENTERPRISES<br/>
                ->Prevent or investigate possible wrongdoing in connection with the Service<br/>
                ->Protect the personal safety of users of the Service or the public<br/>
                ->Protect against legal liability<br/>
                </p>
            <h2>Security of Data:</h2>
            <p>We prioritize the security of your data. However, please remember that no method of transmission over the Internet.</p>
            <h1>feedback from satisfied customers :</h1>
            <h2>John M. - Electronics Enthusiast :</h2>
            <p>"PMART ENTERPRISES has been my go-to for the latest gadgets and electronics. Their product range is impressive, and the quality is always top-notch. The customer service is outstanding, and I appreciate the hassle-free shopping experience. Highly recommended!"</p>
            <h2>Sarah L. - Home Decor Enthusiast :</h2>
            <p>"I recently purchased some home decor items from PMART ENTERPRISES, and I couldn't be happier with the quality and design. The website is easy to navigate, and the delivery was prompt. The attention to detail in their products is remarkable. Will definitely shop here again!"</p>
            <h2>Mark S. - Small Business Owner :</h2>
            <p>"As a small business owner, I rely on PMART ENTERPRISES for my retail needs. The wholesale options are fantastic, and the prices are competitive. The team is responsive and accommodating, making it easy for me to stock my store with high-quality products. Great business partner!"</p>
            <h2>David K. - Tech Startup Owner :</h2>
            <p>"Our tech startup relies on PMART ENTERPRISES for sourcing quality components. The wholesale prices and the reliability of their supply chain make them a crucial partner for our business. The team has been incredibly supportive, and we value the partnership."</p>
            <h2>Michael H. - Repeat Customer :</h2>
            <p>"I've been a loyal customer of PMART ENTERPRISES for years, and<br/>
               they never disappoint. electronics to household items, I trust <br/>
               their product quality and appreciate the consistent service. The<br/>
                loyalty program is a nice touch, and it keeps me coming back for more." 
                </p>
    </div>
</div>
<span class="icon2"><i class="bi bi-cart-plus"></i></span>
<span><i class="bi bi-shield-check"></i></span>
</section>