<div class="container">
    <div class="container-up">
      <a routerLink="/chains">
        <div class="card" >
            <img src="../assets/images/chain.webp" class="card-img-top" alt="...">
            <div class="card-body">
            <h5>Chains</h5>
            </div>
          </div>
        </a>
        <a routerLink="/earrings">
          <div class="card">
            <img src="../assets/images/earrings.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Ear Rings</h5>      
            </div>
          </div>
          </a>
          <div class="card">
            <img src="../assets/images/neckset.jpg" class="card-img-top" alt="...">
            <div class="card-body">  
                <h5>Neck Sets</h5>       
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/ring.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Finger Rings</h5>
            </div>
          
          </div>
    </div>
    <div class="container-up">
      <div class="card" >
          <img src="../assets/images/Bangles.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5> Bangles</h5>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/Bracelets.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Bracelets</h5>      
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/Pendents.jpeg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Pendents</h5>       
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/Anklets.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Anklets </h5>
          </div>
        
        </div>
  </div>
</div>
  