<!-- shop container -->
<section class="shop container">
  <!-- <h2 class="section-tittle">Trousers products</h2> -->
  <div class="shop-content">
      <!-- product box1 -->
      <div class="product-box">
          <img src="../../assets/mensuits/suit1.webp" alt="" class="product-img">
          <h2 class="product-tittle">suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box2 -->
      <div class="product-box">
          <img src="../../assets/mensuits/black suit2.avif" alt="" class="product-img">
          <h2 class="product-tittle">black suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box3 -->
      <div class="product-box">
          <img src="../../assets/mensuits/color suit3.webp" alt="" class="product-img">
          <h2 class="product-tittle">color suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box4 -->
      <div class="product-box">
          <img src="../../assets/mensuits/aquqa solid suit4.webp" alt="" class="product-img">
          <h2 class="product-tittle"> aquqa solid suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box5 -->
      <div class="product-box">
          <img src="../../assets/mensuits/gold platted suit 5.webp" alt="" class="product-img">
          <h2 class="product-tittle">gold platted suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
       <!-- product box6 -->
      <div class="product-box">
          <img src="../../assets/mensuits/cotton suits 6.webp" alt="" class="product-img">
          <h2 class="product-tittle">cotton suits</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box7 -->
      <div class="product-box">
          <img src="../../assets/mensuits/classic black suit7.avif" alt="" class="product-img">
          <h2 class="product-tittle">classic black suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
       <!-- product box8 -->
      <div class="product-box">
          <img src="../../assets/mensuits/casual suit8.jpg" alt="" class="product-img">
          <h2 class="product-tittle">casual suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box9-->
      <div class="product-box">
          <img src="../../assets/mensuits/tuxedo suit9.png" alt="" class="product-img">
          <h2 class="product-tittle">tuxedo suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box10 -->
      <div class="product-box">
          <img src="../../assets/mensuits/formal suit10.png" alt="" class="product-img">
          <h2 class="product-tittle"> formal suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box11 -->
      <div class="product-box">
          <img src="../../assets/mensuits/suit shirt&tie11.png" alt="" class="product-img">
          <h2 class="product-tittle">suit shirt&tie</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box12 -->
      <div class="product-box">
          <img src="../../assets/mensuits/square pocket12.webp" alt="" class="product-img">
          <h2 class="product-tittle">square pocket suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box13 -->
      <div class="product-box">
          <img src="../../assets/mensuits/blue color three piece suit 13.webp" alt="" class="product-img">
          <h2 class="product-tittle">blue color three piece suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box14 -->
      <div class="product-box">
          <img src="../../assets/mensuits/designer suit14.webp" alt="" class="product-img">
          <h2 class="product-tittle">designer suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box15 -->
      <div class="product-box">
          <img src="../../assets/mensuits/jacket suit15.webp" alt="" class="product-img">
          <h2 class="product-tittle"> jacket suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box16 -->
      <div class="product-box">
          <img src="../../assets/mensuits/wearing suit16" alt="" class="product-img">
          <h2 class="product-tittle">wearing suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box17 -->
        <div class="product-box">
          <img src="../../assets/mensuits/blue tuxedo suit17.avif" alt="" class="product-img">
          <h2 class="product-tittle">blue tuxedo suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box18 -->
        <div class="product-box">
          <img src="../../assets/mensuits/blazer tuxedo coat18" alt="" class="product-img">
          <h2 class="product-tittle">blazer tuxedo coat18</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box19 -->
      <div class="product-box">
          <img src="../../assets/mensuits/reen-wool-suit-formal-wear19.png" alt="" class="product-img">
          <h2 class="product-tittle">reen-wool-suit-formal</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box20 -->
      <div class="product-box">
          <img src="../../assets/mensuits/formal gray suit 20.png" alt="" class="product-img">
          <h2 class="product-tittle">formal gray suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box21 -->
      <div class="product-box">
          <img src="../../assets/mensuits/tuxedo-euclidean-suit21.png" alt="" class="product-img">
          <h2 class="product-tittle">tuxedo-euclidean-suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box22 -->
        <div class="product-box">
          <img src="../../assets/mensuits/stylish suit22.webp" alt="" class="product-img">
          <h2 class="product-tittle">stylish suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

        <!-- product box23 -->
        <div class="product-box">
          <img src="../../assets/mensuits/fit blazer suit 23.jpg" alt="" class="product-img">
          <h2 class="product-tittle">fit blazer suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>

       <!-- product box24-->
      <div class="product-box">
          <img src="../../assets/mensuits/casual cloth suit24.jpg" alt="" class="product-img">
          <h2 class="product-tittle">casual cloth suit</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart"></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
  </div>
</section>


