<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/menshorts/shorts1.webp" alt="" class="product-img">
            <h2 class="product-tittle">shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/menshorts/gym-shorts 2.jpg" alt="" class="product-img">
            <h2 class="product-tittle">gym-shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/menshorts/cotton shorts.jpg" alt="" class="product-img">
            <h2 class="product-tittle">cotton shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/menshorts/jean shorts4.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> jean shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/menshorts/onlysons-regularfitmidwaistshorts-blue5.webp" alt="" class="product-img">
            <h2 class="product-tittle">regular fit mid waist shorts-blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/menshorts/Dickies-sortai-vyrams.webp" alt="" class="product-img">
            <h2 class="product-tittle">boxers</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/menshorts/onlysons-regularfitmidwaistshorts-grey7.webp" alt="" class="product-img">
            <h2 class="product-tittle">regular fit mid waist shorts-grey </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/menshorts/olive-green-shorts-mens 8.jpg" alt="" class="product-img">
            <h2 class="product-tittle">green-shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/menshorts/3d-rendering-man-shorts-transparent-background9.avif" alt="" class="product-img">
            <h2 class="product-tittle">transparent</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/menshorts/red short 10.png" alt="" class="product-img">
            <h2 class="product-tittle"> red short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/menshorts/board short 11.jpg" alt="" class="product-img">
            <h2 class="product-tittle">board short</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/menshorts/38-1000011532997-dark-blue short12.webp" alt="" class="product-img">
            <h2 class="product-tittle">dark-blue short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/menshorts/hockey-shorts13.webp" alt="" class="product-img">
            <h2 class="product-tittle">hockey-shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/menshorts/short 14.webp" alt="" class="product-img">
            <h2 class="product-tittle">short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/menshorts/jean short 15.webp" alt="" class="product-img">
            <h2 class="product-tittle">jean short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/menshorts/fashion shorts16.webp" alt="" class="product-img">
            <h2 class="product-tittle">fashion shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/menshorts/blue-summer-shorts 17.avif" alt="" class="product-img">
            <h2 class="product-tittle">blue-summer-shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/menshorts/cargo shorts 18.avif" alt="" class="product-img">
            <h2 class="product-tittle">cargo shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/menshorts/fashion clothing shorts 19.webp" alt="" class="product-img">
            <h2 class="product-tittle">fashion clothing shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/menshorts/cyprus short 20.jpg" alt="" class="product-img">
            <h2 class="product-tittle">cyprus short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/menshorts/short-nike-sportswear-short21.jpg" alt="" class="product-img">
            <h2 class="product-tittle">sportswear-short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/menshorts/cyprus black short 22.jpg" alt="" class="product-img">
            <h2 class="product-tittle">cyprus black short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/menshorts/cotton shorts 23.webp" alt="" class="product-img">
            <h2 class="product-tittle">cotton shorts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/menshorts/red and black short24.webp" alt="" class="product-img">
            <h2 class="product-tittle">red and black short</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>