<div class="container">
  <div class="container-up">
    <a routerLink="/fridge">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/fridge1.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Fridge</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/washingmachines">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/washing.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Washing Machines</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/ac">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/ac.avif" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>AC</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/mixer">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/mixer1.jpg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Mixer Ginders</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-up">
    <a routerLink="/tv">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/tvnew.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Tv</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/fans">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/fan.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Fans</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/coolers">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/cooler.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Air coolers</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/inverters">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/inverters.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Inverters</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-up">
    <a routerLink="/gasstoves">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/stove1.webp" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Gas Stoves</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/microwaves">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/microwave.avif" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>microwaves</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/gysers">
      <div class="card">
        <div class="front-card">
          <img src="assets/images/geyser.png" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Gysers</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/cookers">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/cooker.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Eletric Cookers</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
