<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/gasstove">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/gas1 - Copy.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">GE</h5>
                <p class="card-text">Apple Macbook air pro with core i5 and i3 laptops.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/gasstove">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/gas2.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Samsung </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/gasstove">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/gas5.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">LG </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/gasstove">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/gas31.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Whirlpool </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/gasstove">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/gas32.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Bosch</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/gasstove">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/gas33.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Frigidaire</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/gasstove">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/gas35.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">KitchenAid</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 640px;">
            <a routerLink="/gasstove">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/home/gas41.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Viking</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
  </div>
  
  