<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">woman products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/womenimages/product1" alt="" class="product-img">
            <h2 class="product-tittle">Silk saree</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/womenimages/FancyCotton" alt="" class="product-img">
            <h2 class="product-tittle">FancyCotton</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/womenimages/product2" alt="" class="product-img">
            <h2 class="product-tittle">Soft Slik saree</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/womenimages/product3" alt="" class="product-img">
            <h2 class="product-tittle">sarees</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/womenimages/partyWear" alt="" class="product-img">
            <h2 class="product-tittle">partyWear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/womenimages/BlacNetSarees" alt="" class="product-img">
            <h2 class="product-tittle">Net Sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/womenimages/product5" alt="" class="product-img">
            <h2 class="product-tittle">Soft Silk Pink Sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/womenimages/product6" alt="" class="product-img">
            <h2 class="product-tittle">Pattu Sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/womenimages/ElegantSaree" alt="" class="product-img">
            <h2 class="product-tittle">Elegant Saree</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/womenimages/silkEmbroied" alt="" class="product-img">
            <h2 class="product-tittle">silk Embroied</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/womenimages/PureBanarasi" alt="" class="product-img">
            <h2 class="product-tittle">PureBanarasi saree</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/womenimages/pureKadhiCotton" alt="" class="product-img">
            <h2 class="product-tittle">Pure Kadhi Cotton Sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/womenimages/Embroiedsarees" alt="" class="product-img">
            <h2 class="product-tittle">Embroied sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/womenimages/FancyRedPartyWear" alt="" class="product-img">
            <h2 class="product-tittle">Fancy Red Party Wear sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/womenimages/GeometricPrinted" alt="" class="product-img">
            <h2 class="product-tittle">GeometricPrinted sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/womenimages/weddingsarees" alt="" class="product-img">
            <h2 class="product-tittle">wedding sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/womenimages/ArtSilkSarees" alt="" class="product-img">
            <h2 class="product-tittle">Art Silk Sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/womenimages/product14" alt="" class="product-img">
            <h2 class="product-tittle">Foral Zari art silk sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 19 -->
        <div class="product-box">
            <img src="../../assets/womenimages/dailyWear" alt="" class="product-img">
            <h2 class="product-tittle">Daily Wear sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
      <!-- 20 -->
        <div class="product-box">
            <img src="../../assets/womenimages/bollywood" alt="" class="product-img">
            <h2 class="product-tittle">BollyWood Sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 21 -->
        <div class="product-box">
            <img src="../../assets/womenimages/trending" alt="" class="product-img">
            <h2 class="product-tittle">Trending sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 22 -->
        <div class="product-box">
            <img src="../../assets/womenimages/designerSarees" alt="" class="product-img">
            <h2 class="product-tittle">designer Sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 23 -->
        <div class="product-box">
            <img src="../../assets/womenimages/sareewithBlouse" alt="" class="product-img">
            <h2 class="product-tittle">Latest sarees</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 24 -->
        <div class="product-box">
            <img src="../../assets/womenimages/printedSaree" alt="" class="product-img">
            <h2 class="product-tittle">printedSaree</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
    </div>

</section>