 <div class="img-container">
        <img src="../../assets/productimg" alt="">
        <h4>Best Quality at unbelievable prices</h4>
        <a routerLink="">
            <button class="btn">&rarr; Browser</button>
        </a>

    </div>
    <div class="container-in-images">
        <div class="img-container1">
            <div>
                <a routerLink="/furniture"><img src="../../assets/imagesProduct" alt=""></a>
            </div>
            <div>
                <a routerLink="/beauty"><img src="../../assets/imagesProduct2" alt=""></a>
            </div>
            <div>
                <a routerLink="/electronics"><img src="../../assets/Electronic" alt=""></a>
            </div>
        </div>
        <div class="img-container2">
            <div>
                <a routerLink="/groceries"><img src="../../assets/Groceries" alt=""></a>
          </div>
            <div>
                <a routerLink="/toys"><img src="../../assets/Toys1" alt=""></a>
            </div>
        </div>
        <div class="img-container3">
            <div>
                <a routerLink="/fashion"><img src="../../assets/Fashion1" alt=""></a>
            </div>
            <div>
                <a routerLink="/footwear"><img src="../../assets/footware" alt=""></a>
            </div>
            <div>
                <a routerLink="/homeappliances"><img src="../../assets/HomeApplliences" alt=""></a>
            </div>
        </div>
    </div>
 
  
