<div class="containers">

    <div class="container-up">
      <a routerLink="/thronechairs">
        <div class="card" >
            <img src="../assets/chairs/throne.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5>Throne Chairs</h5>
            </div>
          </div>
        </a>
        <a routerLink="/thronechairs">
          <div class="card">
            <img src="../assets/chairs/deck.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Deck Chairs</h5>      
            </div>
          </div>
        </a>
        <a routerLink="/thronechairs">
          <div class="card">
            <img src="../assets/chairs/arm.jpeg" class="card-img-top" alt="...">
            <div class="card-body">  
                <h5>Arm Chairs</h5>       
            </div>
          </div>
        </a>
        <a routerLink="/thronechairs">
          <div class="card">
            <img src="../assets/chairs/wing.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Wing Chairs</h5>
            </div>
          </div>
          </a>
    </div>
    <div class="container-up">
    <a routerLink="/thronechairs">
      <div class="card">
        <img src="../assets/chairs/rocking.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>rocking Chairs</h5>
        </div>
      </div>
    </a>
    <a routerLink="/thronechairs">
      <div class="card" >
          <img src="../assets/chairs/plastic.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>plastic Chairs</h5>
          </div>
        </div>
      </a>
      <a routerLink="/thronechairs">
        <div class="card">
          <img src="../assets/chairs/wooden.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>wooden Chairs</h5>      
          </div>
        </div>
      </a>
      <a routerLink="/thronechairs">
        <div class="card">
          <img src="../assets/chairs/side.jpeg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>side Chiars</h5>       
          </div>
        </div>
        </a>
  </div>
  </div>
  
  
  