<div class="container">
  <div class="carousel-container">
    <div class="slider">
      <div class="slider-track">
        <div class="slide">
          <div class="card">
            <a routerLink="/electronics">
              <img src="assets/images/Laptop2.png" class="card-img-top" alt="Electronics">
              <div class="card-body">
                <h5 class="card-title">Electronics</h5>
              </div>
            </a>
          </div>
        </div>
        
        <div class="slide">
          <div class="card">
            <a routerLink="/furniture">
              <img src="assets/images/sofa8.png" class="card-img-top" alt="Furniture">
              <div class="card-body">
                <h5 class="card-title">Furniture</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="card">
            <a routerLink="/fashion">
              <img src="assets/images/fashion9.jpeg" class="card-img-top" alt="Fashion">
              <div class="card-body">
                <h5 class="card-title">Fashion</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="card">
            <a routerLink="/homeappliances">
              <img src="assets/images/fridge.jpeg" class="card-img-top" alt="Home Appliances">
              <div class="card-body">
                <h5 class="card-title">Home Appliances</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="see">
        <a routerLink="/seemore">
          <button class="but">See More</button>
        </a>
      </div>
    </div>
  </div>
</div>











<!-- 
<div class="container">
  <div class="carousel-container">
      <div class="slider">
          <div class="slider-track">
              <div class="slide" *ngFor="let item of sliderItems">
                  <div class="card">
                      <a [routerLink]="item.route">
                          <img [src]="item.image_url" class="card-img-top" [alt]="item.name">
                          <div class="card-body">
                              <h5 class="card-title">{{ item.name }}</h5>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          <div class="see">
              <a routerLink="/seemore">
                  <button class="but">See More</button>
              </a>
          </div>
      </div>
  </div>
</div> -->