<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Baby Combosets</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset1.webp" alt="" class="product-img">
            <h2 class="product-tittle">3 colors</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset2.webp" alt="" class="product-img">
            <h2 class="product-tittle">2 colors</h2>
            <span class="price">$20</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset3.webp" alt="" class="product-img">
            <h2 class="product-tittle">3 white combo</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset4.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset5.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset6.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset7.webp" alt="" class="product-img">
            <h2 class="product-tittle">3 Combosets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset8.webp" alt="" class="product-img">
            <h2 class="product-tittle">3 combosets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset9.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset10.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset11.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2> 
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset12.webp" alt="" class="product-img">
            <h2 class="product-tittle">3 combosets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset13.webp" alt="" class="product-img">
            <h2 class="product-tittle">skyblue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset14.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset15.webp" alt="" class="product-img">
            <h2 class="product-tittle">3 combosets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset16.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset17.webp" alt="" class="product-img">
            <h2 class="product-tittle">combosets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset18.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors combosets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box19-->
          <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset19.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
          <!-- product box20 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/babycomboset20.webp" alt="" class="product-img">
            <h2 class="product-tittle">multicolors</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box21 -->
         <div class="product-box">
          <img src="../../assets/kidsimages/babycomboset21.webp" alt="" class="product-img">
          <h2 class="product-tittle">3 combosets</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
      </div>
       <!-- product box22 -->
       <div class="product-box">
        <img src="../../assets/kidsimages/babycomboset22.webp" alt="" class="product-img">
        <h2 class="product-tittle">3 combosets</h2>
        <span class="price">$xxxx</span>
        <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
    
    </div>
     <!-- product box23 -->
     <div class="product-box">
      <img src="../../assets/kidsimages/babycomboset23.webp" alt="" class="product-img">
      <h2 class="product-tittle">3 combosets</h2>
      <span class="price">$xxxx</span>
      <i class="bi bi-heart add-heart" ></i>
      <i class="bi bi-bag add-cart"></i>
    
  </div>
  
  <!-- product box24 -->
  <div class="product-box">
    <img src="../../assets/kidsimages/babycomboset24.webp" alt="" class="product-img">
    <h2 class="product-tittle">3 combosets</h2>
    <span class="price">$xxxx</span>
    <i class="bi bi-heart add-heart" ></i>
    <i class="bi bi-bag add-cart"></i>
    
  </div>
 </div>

</section>