<div class="container">
  <div class="container-up">
    <a routerLink="/flats">
      <div class="card" >
          <img src="../assets/images/flats.webp" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Flats</h5>
          </div>
      </div>
    </a>
    <a routerLink="/heels">
        <div class="card">
          <img src="../assets/images/hills.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Heels</h5>      
          </div>
        </div>
        </a>
        <a routerLink="/wedges">
        <div class="card">
          <img src="../assets/images/webges.webp" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Wedges</h5>       
          </div>
        </div>
        </a>
        <a routerLink="/">
        <div class="card">
          <img src="../assets/images/shoes.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Shoes</h5>
          </div>
        </div>
       </a>
  </div>
  <div class="container-up">
    <a routerLink="/wedges">
    <div class="card" >
        <img src="../assets/images/boots.webp" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>Boots</h5>
        </div>
      </div>
      </a>
      <a routerLink="/wedges">
      <div class="card">
        <img src="../assets/images/belt.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>sandels</h5>      
        </div>
      </div>
      </a>
      <a routerLink="/wedges">
      <div class="card">
        <img src="../assets/images/Mensshoes.webp" class="card-img-top" alt="...">
        <div class="card-body">  
            <h5>shoes</h5>       
        </div>
      </div>
      </a>
      <a routerLink="/wedges">
      <div class="card">
        <img src="../assets/images/filp flops.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>filp flops</h5>
        </div>
      </div>
      </a>
</div>
<div class="container-up">
  <a routerLink="/wedges">
  <div class="card" >
      <img src="../assets/images/crocs.webp" class="card-img-top" alt="...">
      <div class="card-body">
      <h5>crocs</h5>
      </div>
    </div>
    </a>
    <a routerLink="/wedges">
    <div class="card">
      <img src="../assets/images/girl.foot.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Girls slippers</h5>      
      </div>
    </div>
    </a>
    <a routerLink="/wedges">
    <div class="card">
      <img src="../assets/images/boy-foot.webp" class="card-img-top" alt="...">
      <div class="card-body">  
          <h5>boys slippers</h5>       
      </div>
    </div>
    </a>
    <a routerLink="/wedges">
    <div class="card">
      <img src="../assets/images/baby.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Babies</h5>
      </div>
    </div>
    </a>
</div>
</div>


