
<!-- shop container -->
<section class="shop container">
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/bell sleeves" alt="" class="product-img">
            <h2 class="product-tittle">bell sleeves lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/bridal" alt="" class="product-img">
            <h2 class="product-tittle">bridal lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/bunnai baby pink" alt="" class="product-img">
            <h2 class="product-tittle">bunnai baby pink lehenga</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/chinonsilkzar" alt="" class="product-img">
            <h2 class="product-tittle">chinon silk zari lehanga</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/designer" alt="" class="product-img">
            <h2 class="product-tittle">designer lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/elegent" alt="" class="product-img">
            <h2 class="product-tittle">elegent lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/embroied" alt="" class="product-img">
            <h2 class="product-tittle">Embroiedry lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/ethnic" alt="" class="product-img">
            <h2 class="product-tittle">ethnic lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/womenlehenga/fashion" alt="" class="product-img">
            <h2 class="product-tittle">fashion lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/fauxgeorgette" alt="" class="product-img">
            <h2 class="product-tittle">faux georgette lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/firozi" alt="" class="product-img">
            <h2 class="product-tittle">firozi lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/frockstyle" alt="" class="product-img">
            <h2 class="product-tittle">frock style lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/georgette" alt="" class="product-img">
            <h2 class="product-tittle">georgette lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/exclusive" alt="" class="product-img">
            <h2 class="product-tittle">exclusive lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/net" alt="" class="product-img">
            <h2 class="product-tittle">net lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/partywear" alt="" class="product-img">
            <h2 class="product-tittle">party wear lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/womenlehenga/silk" alt="" class="product-img">
            <h2 class="product-tittle">silk lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/womenlehenga/peplum" alt="" class="product-img">
            <h2 class="product-tittle">peplum lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 19 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/royalfrontfrock" alt="" class="product-img">
            <h2 class="product-tittle">royal front frock lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
      <!-- 20 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/sangeet" alt="" class="product-img">
            <h2 class="product-tittle">sangeet lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 21 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/semistitched" alt="" class="product-img">
            <h2 class="product-tittle">semi-stiched lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 22 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/southindia" alt="" class="product-img">
            <h2 class="product-tittle">south-india lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 23 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/traditional" alt="" class="product-img">
            <h2 class="product-tittle">traditional lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 24 -->
        <div class="product-box">
            <img src="../../assets/womenlehenga/trendy" alt="" class="product-img">
            <h2 class="product-tittle">trendy lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenlehenga/wedding" alt="" class="product-img">
            <h2 class="product-tittle">Wedding lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenlehenga/whiteandgold" alt="" class="product-img">
            <h2 class="product-tittle">white and gold lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenlehenga/choli" alt="" class="product-img">
            <h2 class="product-tittle">choli lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenlehenga/festival" alt="" class="product-img">
            <h2 class="product-tittle">festival lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenlehenga/popularbridal" alt="" class="product-img">
            <h2 class="product-tittle">popular bridal lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="../../assets/womenlehenga/bollywood" alt="" class="product-img">
            <h2 class="product-tittle">bollywood lehenga</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        
    </div>

</section>