<div class="container">
  <div class="container-up">

      <a href="/shirts">
        <div class="card" >
          <img src="../assets/images/shirts.webp" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Formal Shirts</h5>
          </div>
        </div>
      </a>

        <div class="card">
          <img src="../assets/images/menjeans.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Jeans</h5>      
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/t-shirtw.webp" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>T-shirts</h5>       
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/Tousers.webp" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Tousers</h5>
          </div>
        
        </div>
  </div>
  <div class="container-up">
    <div class="card" >
        <img src="../assets/images/Track Pants.webp" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>Track Pants</h5>
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/sweatshirt.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>sweatshirt</h5>      
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/Jackets.webp" class="card-img-top" alt="...">
        <div class="card-body">  
            <h5>Jackets</h5>       
        </div>
      </div>
      <div class="card">
        <img src="../assets/images/Shorts.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Shorts</h5>
        </div>
      
      </div>
</div>
<div class="container-up">
  <div class="card" >
      <img src="../assets/images/Kurtas2.webp" class="card-img-top" alt="...">
      <div class="card-body">
      <h5>Kurtas</h5>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/Eithic Sets2.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Eithic Sets</h5>      
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/Eithic Sets2.webp" class="card-img-top" alt="...">
      <div class="card-body">  
          <h5></h5>       
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/Eithic Sets2.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Plazos</h5>
      </div>
    
    </div>
</div>
</div>


