<!-- shop container -->
<section class="shop container">
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/cotton" alt="" class="product-img">
            <h2 class="product-tittle">cotton night dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/differnttypes" alt="" class="product-img">
            <h2 class="product-tittle">differnt types of nightwear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/babydoll" alt="" class="product-img">
            <h2 class="product-tittle">baby doll night dresses</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/trendyadorable" alt="" class="product-img">
            <h2 class="product-tittle">trendy adorable night dresses</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/evafashion" alt="" class="product-img">
            <h2 class="product-tittle">eva fashion nightwear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/fancybedroom" alt="" class="product-img">
            <h2 class="product-tittle">fancy bedroom nightdresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/fashion" alt="" class="product-img">
            <h2 class="product-tittle">fashion nightwear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/swimming" alt="" class="product-img">
            <h2 class="product-tittle">swimming nightwear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/womennightwear/large" alt="" class="product-img">
            <h2 class="product-tittle">large nightwear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/multicolor" alt="" class="product-img">
            <h2 class="product-tittle">multicolor nights</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/necknight" alt="" class="product-img">
            <h2 class="product-tittle">colar nights</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/nightdresses" alt="" class="product-img">
            <h2 class="product-tittle">night dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/dressforwomen" alt="" class="product-img">
            <h2 class="product-tittle">nightdress for women</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/nights" alt="" class="product-img">
            <h2 class="product-tittle">nights</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/shirt&pyjamaset" alt="" class="product-img">
            <h2 class="product-tittle">shirt&pyjamaset night dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/womennightwear/silk" alt="" class="product-img">
            <h2 class="product-tittle">silk night dresses</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/womennightwear/winter" alt="" class="product-img">
            <h2 class="product-tittle">winter night dress</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/womennightwear/stylishfulllengthnight" alt="" class="product-img">
            <h2 class="product-tittle">stylish full length nightwear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div> 
      
</div>
</section>