<div class="container">
  <div class="container-up">
    <a routerLink="/electronics">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/skincare3.jpg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Skin Care</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/fashion">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/haircare.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Hair care</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/furniture">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/makeup.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Make Up</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/homeappliances">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/perfumes.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>perfumes</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-up">
    <a routerLink="/groceries">
      <div class="card">
        <div class="front-card">
          <img src="../assets/images/bath.jpeg" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Grooming items</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/toys">
      <div class="card">
        <div class="front-card">
          <img src="" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Board Games</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/beauty">
      <div class="card">
        <div class="front-card">
          <img src="" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Cycles/cars</h1>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/footwear">
      <div class="card">
        <div class="front-card">
          <img src="" class="card-img-top" alt="...">
        </div>
        <div class="back-card">
          <div class="card-body">
            <h1>Doll House</h1>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
