<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/plane track pants1.jpg" alt="" class="product-img">
            <h2 class="product-tittle">plane track pant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/cargo track pant2.jpg" alt="" class="product-img">
            <h2 class="product-tittle">cargo track pant </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/black trackpant3.jpg" alt="" class="product-img">
            <h2 class="product-tittle">black trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/gray plane trackpant4.jpg" alt="" class="product-img">
            <h2 class="product-tittle"> gray plane trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/elastic track pant5.jpg" alt="" class="product-img">
            <h2 class="product-tittle">elastic track pant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/regular fit trackpant6.jpg" alt="" class="product-img">
            <h2 class="product-tittle">regular fit trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/cotton trackpant7.avif" alt="" class="product-img">
            <h2 class="product-tittle">cotton trackpant </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/straight trackpant8.webp" alt="" class="product-img">
            <h2 class="product-tittle">straight trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/mentrackpants/bluetrackpant9.webp" alt="" class="product-img">
            <h2 class="product-tittle">bluetrackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/polyster trackpant10.webp" alt="" class="product-img">
            <h2 class="product-tittle"> polyster trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/running trackpant11.webp" alt="" class="product-img">
            <h2 class="product-tittle">running trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/straight track pant 12.webp" alt="" class="product-img">
            <h2 class="product-tittle">straight track pant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/stylish13.webp" alt="" class="product-img">
            <h2 class="product-tittle">stylish track-pant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/core jogger polyster Trackpant14.webp" alt="" class="product-img">
            <h2 class="product-tittle">polyster Trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/light weight running track15.webp" alt="" class="product-img">
            <h2 class="product-tittle"> running trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/fashion track pant16.webp" alt="" class="product-img">
            <h2 class="product-tittle">fashion track pant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/mentrackpants/cotton trackpant17.jpg" alt="" class="product-img">
            <h2 class="product-tittle">cotton trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/mentrackpants/light grey track 18.jpg" alt="" class="product-img">
            <h2 class="product-tittle">light grey track </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/slim-fit track pants 19.webp" alt="" class="product-img">
            <h2 class="product-tittle">slim-fit track pants</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/charcoal trackpant20.jpg" alt="" class="product-img">
            <h2 class="product-tittle">charcoal trackpan</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/mentrackpants/red black cotton trackpants21.webp" alt="" class="product-img">
            <h2 class="product-tittle">red black cotton trackpants</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/mentrackpants/blacktrackpants22.webp" alt="" class="product-img">
            <h2 class="product-tittle">mentrackpants/blacktrackpants</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/mentrackpants/indigo blue cotton23.jpg" alt="" class="product-img">
            <h2 class="product-tittle">indigo blue cotton</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/mentrackpants/green trackpant24.avif" alt="" class="product-img">
            <h2 class="product-tittle">green trackpant</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>