<section class="shop containers">
    <!-- Login form popup -->
    <div class="form-popup" [ngClass]="{'show': showLoginForm}">
        <div class="form-box">
            <div class="login">
              <button class="close-button2" (click)="hideLoginPopup()">
                <i class="bi bi-x"></i>
              </button>
              
                <h2>PMART - ENTERPRISES</h2>
                <h3>Login</h3>
                <h5>Get access to your Orders,<br/>Wishlist and Recommendations</h5>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl5DCe8fiRK0rk5yfgcvY9QReIuwXmsPt9pw&s" alt="">
            </div>
            <div class="form-content">
                <form>
                    <div class="input-field">
                        <label for="email">Enter Email/Mobile Number</label><br/><br/>
                        <input type="text" name="email" id="email">
                    </div><br/>
                    <p>By continuing, you agree to PMART Enterprises Terms of Use and Privacy Policy.</p>
                    <button type="button">Request OTP</button>
                    <p class="text">New to PMART Enterprises? <a href="register.html">Create an account</a></p>
                </form>
            </div>
        </div>
      </div>
    
    <div class="shop-content">
      <div class="product-box" *ngFor="let product of products">
        <img [src]="product.imageUrl" alt="" class="product-img">
        <h2 class="product-title">{{ product.title }}</h2>
        <span class="price">{{ product.price }}</span>
        <i class="bi bi-heart add-heart" (click)="showLoginPopup()"></i>
        <button class="quick-view-btn" (click)="toggleAdditionalContent(product)">Quick View</button>
        <div class="modal" *ngIf="product.showAdditionalContent">
          <div class="modal-content">
            <button class="close-button" (click)="closeAdditionalContent(product)">
              <i class="bi bi-x"></i>
            </button>      
            <div class="container flex">
              <div class="left">
                <div class="main_image">
                  <img [src]="product.mainImageSrc || product.imageUrl" alt="Product Image" class="slide">
                  <i class="bi bi-heart heart-icon" (click)="showLoginPopup()"></i>
                  <!-- <i class="bi bi-heart add-heart" (click)="showLoginPopup()"></i> -->
                </div>           
                <div class="option flex">             
                  <img *ngFor="let option of product.options" [src]="option.imageUrl" alt="" (mouseover)="changeMainImage(product, option.imageUrl)">
                </div>
              </div>           
              <div class="right">          
                <h3>{{ product.title }}</h3>             
                <h4><small>Price:</small> {{ product.price }}</h4>
                <p>{{ product.description }}</p>
                <h5>Available colors:</h5>
                <div class="color-flex">
                  <span *ngFor="let color of product.colors"
                        (mouseover)="changeColor(product, color)"
                        [style.background-color]="color.backgroundColor"
                        [class.active]="color.active">
                  </span>
                </div>
                
                <div class="size">
                  <!-- <p>RAM:</p>
                  <div *ngFor="let ramOption of product.ramOptions"
                       class="psize"
                       [class.active]="product.selectedRam === ramOption.label"
                       (click)="selectRam(product, ramOption.label)">
                    {{ ramOption.label }}
                  </div> -->
                </div>            
                <div class="btn-box">              
                  <button class="btn" (click)="addToCart(product)">
                    <i class="bi bi-cart2"></i>Add to cart
                  </button>
                  <a routerLink="/placeorder">
                    <button class="buy-btn">
                      <i class="bi bi-lightning-charge"></i>Place Order
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End modal for additional content -->
      </div>
    </div>
  </section>
