<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 640px;">
        <a routerLink="/amaroninverters">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/home/inverter5.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Luminous</h5>
              <p class="card-text">Apple Macbook air pro with core i5 and i3 laptops.</p>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 640px;">
        <a routerLink="/amaroninverters">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/home/inverter3.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Microtek</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 640px;">
        <a routerLink="/amaroninverters">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/home/inverter1.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Amaron</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 640px;">
        <a routerLink="/amaroninverters">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/home/inverter9.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">V-Guard</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/amaroninverters">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/inverter7.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Havells </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/amaroninverters">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/inverter6.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">True Power</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/amaroninverters">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/inverter10.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">ZunSolar</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 640px;">
          <a routerLink="/amaroninverters">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../assets/home/inverter2.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Delta</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
</div>