<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">woman products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/3dknit" alt="" class="product-img">
            <h2 class="product-tittle">3d kint</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/crewneck" alt="" class="product-img">
            <h2 class="product-tittle">crew neck</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/fabriconfullsleeve" alt="" class="product-img">
            <h2 class="product-tittle">fabricon full sleeve</h2>
            <span class="price">$30</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/fantslook" alt="" class="product-img">
            <h2 class="product-tittle">fants look</h2>
            <span class="price">$50</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/light" alt="" class="product-img">
            <h2 class="product-tittle">light</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/longsleeve" alt="" class="product-img">
            <h2 class="product-tittle">long sleeve</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/olive" alt="" class="product-img">
            <h2 class="product-tittle">olive</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/roundedneck" alt="" class="product-img">
            <h2 class="product-tittle">rounded neck</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/swetshirts/signaturecrew" alt="" class="product-img">
            <h2 class="product-tittle">signature crew</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/smooth" alt="" class="product-img">
            <h2 class="product-tittle">smooth</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/smoothcotton" alt="" class="product-img">
            <h2 class="product-tittle">smooth cotton</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/solidfullsleeve" alt="" class="product-img">
            <h2 class="product-tittle">solid full sleeve</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/stretchcotton" alt="" class="product-img">
            <h2 class="product-tittle">stretch cotton</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/stylish" alt="" class="product-img">
            <h2 class="product-tittle">stylish</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/sweatshirts" alt="" class="product-img">
            <h2 class="product-tittle">sweatshirts</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/swetshirts/swetwithfontzip" alt="" class="product-img">
            <h2 class="product-tittle">sweatshirts with font-zip</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/swetshirts/tloowyfashion" alt="" class="product-img">
            <h2 class="product-tittle">tloowy fashion</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/swetshirts/uniqlo" alt="" class="product-img">
            <h2 class="product-tittle">uniqlo</h2>
            <span class="price">$xxxx</span>
            <i class='bx bx-heart add-heart'></i>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        
    </div>

</section>