<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Kids Shorts for Girls</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short1.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
           <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short2.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Embellished Blue Color</h2>
            <span class="price">$20</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short3.webp" alt="" class="product-img">
            <h2 class="product-tittle">Multicolor</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short4.webp" alt="" class="product-img">
            <h2 class="product-tittle">Dark Blue</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short5.webp" alt="" class="product-img">
            <h2 class="product-tittle">yellow</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short6.webp" alt="" class="product-img">
            <h2 class="product-tittle">Multicolor</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short7.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short8.webp" alt="" class="product-img">
            <h2 class="product-tittle">pink</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/kidsimages/short9.webp" alt="" class="product-img">
            <h2 class="product-tittle">black</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short10.webp" alt="" class="product-img">
            <h2 class="product-tittle">orange</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short11.webp" alt="" class="product-img">
            <h2 class="product-tittle">maroon</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short12.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short13.webp" alt="" class="product-img">
            <h2 class="product-tittle">blue</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short14.webp" alt="" class="product-img">
            <h2 class="product-tittle">light green</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short15.webp" alt="" class="product-img">
            <h2 class="product-tittle">red</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/kidsimages/short16.webp" alt="" class="product-img">
            <h2 class="product-tittle">white</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/short17.webp" alt="" class="product-img">
            <h2 class="product-tittle">dark green</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/short18.webp" alt="" class="product-img">
            <h2 class="product-tittle">pink</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box19-->
          <div class="product-box">
            <img src="../../assets/kidsimages/short19.webp" alt="" class="product-img">
            <h2 class="product-tittle">light green</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box20 -->
          <div class="product-box">
            <img src="../../assets/kidsimages/short20.webp" alt="" class="product-img">
            <h2 class="product-tittle">light pink</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart" ></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box21 -->
         <div class="product-box">
          <img src="../../assets/kidsimages/short21.webp" alt="" class="product-img">
          <h2 class="product-tittle">baby pink</h2>
          <span class="price">$xxxx</span>
          <i class="bi bi-heart add-heart" ></i>
          <i class="bi bi-bag add-cart"></i>
      </div>
       <!-- product box22 -->
       <div class="product-box">
        <img src="../../assets/kidsimages/short22.webp" alt="" class="product-img">
        <h2 class="product-tittle">purple</h2>
        <span class="price">$xxxx</span>
        <i class="bi bi-heart add-heart" ></i>
        <i class="bi bi-bag add-cart"></i>
    </div>
     <!-- product box23 -->
     <div class="product-box">
      <img src="../../assets/kidsimages/short23.webp" alt="" class="product-img">
      <h2 class="product-tittle">blue</h2>
      <span class="price">$xxxx</span>
      <i class="bi bi-heart add-heart" ></i>
      <i class="bi bi-bag add-cart"></i>
  </div>
  
  <!-- product box24 -->
  <div class="product-box">
    <img src="../../assets/kidsimages/short24.webp" alt="" class="product-img">
    <h2 class="product-tittle">pink</h2>
    <span class="price">$xxxx</span>
    <i class="bi bi-heart add-heart" ></i>
    <i class="bi bi-bag add-cart"></i>
  </div>
 </div>

</section>