<!-- <div class="search-container" [class.visible]="isSearchVisible">
    <input class="input" type="text" placeholder="Search...">
    <select class="select">
      <option value="products">Products</option>
      <option value="electronics">Electronics</option>
      <option value="fashion">Fashion</option>
      <option value="groceries">Groceries</option>
      <option value="home-appliances">Home Appliances</option>
      <option value="toys">Toys</option>
      <option value="beauty">Beauty</option>
      <option value="others">Others</option>
    </select>
    <button class="button" (click)="searchContent()">Search</button>
  </div>
   -->