<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Trousers products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/ethnic set1.jpg" alt="" class="product-img">
            <h2 class="product-tittle">ethnic set</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/white ethnic 2.avif" alt="" class="product-img">
            <h2 class="product-tittle">white ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/stylish ethnic3.jpg" alt="" class="product-img">
            <h2 class="product-tittle">stylish ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/ethnic men wear4.webp" alt="" class="product-img">
            <h2 class="product-tittle">ethnic men wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/yellow ethnic 5.jpg" alt="" class="product-img">
            <h2 class="product-tittle">yellow ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/aimovig men kurta6.webp" alt="" class="product-img">
            <h2 class="product-tittle">aimovig men kurta</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/purple color  ethnic7.jpg" alt="" class="product-img">
            <h2 class="product-tittle">purple color  ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/ethnic wear8.avif" alt="" class="product-img">
            <h2 class="product-tittle">ethnic wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/eithnic sets/jompers_black_ethnic suit 9.avif" alt="" class="product-img">
            <h2 class="product-tittle">jompers_black_ethnic suit</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/traditional ethnic 10.webp" alt="" class="product-img">
            <h2 class="product-tittle"> traditional ethnic </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/modern ethnic wear11.jpg" alt="" class="product-img">
            <h2 class="product-tittle">modern ethnic wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/westernSherwaniSet ethnic 12.webp" alt="" class="product-img">
            <h2 class="product-tittle">western SherwaniSet ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/traditional wear 13.webp" alt="" class="product-img">
            <h2 class="product-tittle">traditional wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/embroidered ethnic wear14.webp" alt="" class="product-img">
            <h2 class="product-tittle">embroidered ethnic wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/greena-plain-silk-ethnic 15.webp" alt="" class="product-img">
            <h2 class="product-tittle">greena-plain-silk-ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/ethnic 16.webp" alt="" class="product-img">
            <h2 class="product-tittle">tradation ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/eithnic sets/cream-silk-ethnic 17.webp" alt="" class="product-img">
            <h2 class="product-tittle">cream-silk-ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/eithnic sets/stylish ethnic 18.jpg" alt="" class="product-img">
            <h2 class="product-tittle">stylish ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/ethnic attire 19.jpg" alt="" class="product-img">
            <h2 class="product-tittle">ethnic attire</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/ethnic jacket20.webp" alt="" class="product-img">
            <h2 class="product-tittle">ethnic jacket</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/eithnic sets/dhoti ethnic wear 21.webp" alt="" class="product-img">
            <h2 class="product-tittle">dhoti ethnic wear</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/eithnic sets/classic ethnic 22.jpg" alt="" class="product-img">
            <h2 class="product-tittle">classic ethnic </h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/eithnic sets/pattern dhoti set ethnic 23.avif" alt="" class="product-img">
            <h2 class="product-tittle">pattern dhoti set ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>

         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/eithnic sets/traditional ethnic24.webp" alt="" class="product-img">
            <h2 class="product-tittle">traditional ethnic</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>