<div class="container">

    <div class="container-up">
        <a routerLink="/recliner">
          <div class="card" >
            <img src="../assets/chairs/reclinear.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5>Recliner</h5>
            </div>
          </div>
        </a>
        <a routerLink="/sofaset">
          <div class="card">
            <img src="../assets/chairs/sofa set.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>sofa sets</h5>      
            </div>
          </div>
        </a>
        <a routerLink="/cornersofas">
          <div class="card">
            <img src="../assets/chairs/corner.jpeg" class="card-img-top" alt="...">
            <div class="card-body">  
                <h5>corner sofas</h5>       
            </div>
          </div>
        </a>
        <a routerLink="/sofaset">
          <div class="card">
            <img src="../assets/chairs/sofa beds.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>sofa beds</h5>
            </div>
          </div>
        </a>
     </div>
    <div class="container-up">
     <a routerLink="/sectionalsofaset">
      <div class="card">
        <img src="../assets/chairs/Sectional Sofa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Sectional Sofa</h5>
        </div>
      </div>
      </a>
      <a routerLink="/sectionalsofaset">
      <div class="card" >
          <img src="../assets/chairs/roundedsofa.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Rounded Sofa</h5>
          </div>
        </div>
      </a>
      <a routerLink="/cornersofas">
        <div class="card">
          <img src="../assets/chairs/ChaiseLounge.avif" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Chaise Lounge Sofa</h5>      
          </div>
        </div>
      </a>
      <a routerLink="/sofaset">
        <div class="card">
          <img src="../assets/chairs/cabriole.jpeg" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>Cabriole Sofa </h5>       
          </div>
        </div>
        </a>
   </div>
  
  
  