<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">woman products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/womentops/casual" alt="" class="product-img">
            <h2 class="product-tittle">casual tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
    
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/womentops/crop" alt="" class="product-img">
            <h2 class="product-tittle">crop tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/womentops/download.jpg" alt="" class="product-img">
            <h2 class="product-tittle">calsual baby stylish tops</h2>
            <span class="price">$30</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/womentops/dress" alt="" class="product-img">
            <h2 class="product-tittle">Dress</h2>
            <span class="price">$50</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/womentops/Fabrictop" alt="" class="product-img">
            <h2 class="product-tittle">Fabric tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/womentops/fancy" alt="" class="product-img">
            <h2 class="product-tittle">fancy</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/womentops/h&m" alt="" class="product-img">
            <h2 class="product-tittle">h&m tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/womentops/halfsolder" alt="" class="product-img">
            <h2 class="product-tittle">half solder tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/womentops/haltterneck" alt="" class="product-img">
            <h2 class="product-tittle">haltter neck tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/womentops/jeantop" alt="" class="product-img">
            <h2 class="product-tittle">jean tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/womentops/kneelength" alt="" class="product-img">
            <h2 class="product-tittle">knee length tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/womentops/longseelve" alt="" class="product-img">
            <h2 class="product-tittle">long seelve tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/womentops/neck" alt="" class="product-img">
            <h2 class="product-tittle">neck tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/womentops/vneck" alt="" class="product-img">
            <h2 class="product-tittle">v neck tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/womentops/trendyol" alt="" class="product-img">
            <h2 class="product-tittle">trendyol tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/womentops/stylishjeantop" alt="" class="product-img">
            <h2 class="product-tittle">stylish jean tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/womentops/teeclothing" alt="" class="product-img">
            <h2 class="product-tittle">tee clothing tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/womentops/fashionfancy" alt="" class="product-img">
            <h2 class="product-tittle">fashion fancy tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 19 -->
        <div class="product-box">
            <img src="../../assets/womentops/solder" alt="" class="product-img">
            <h2 class="product-tittle">solder tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
      <!-- 20 -->
        <div class="product-box">
            <img src="../../assets/womentops/polyster" alt="" class="product-img">
            <h2 class="product-tittle">polyster tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- 21 -->
        <div class="product-box">
            <img src="../../assets/womentops/shirst" alt="" class="product-img">
            <h2 class="product-tittle">women shirts</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 22 -->
        <div class="product-box">
            <img src="../../assets/womentops/seeveless" alt="" class="product-img">
            <h2 class="product-tittle">seeveless tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 23 -->
        <div class="product-box">
            <img src="../../assets/womentops/images.jpg" alt="" class="product-img">
            <h2 class="product-tittle">women huddys</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
        <!-- 24 -->
        <div class="product-box">
            <img src="../../assets/womentops/Fabrictop" alt="" class="product-img">
            <h2 class="product-tittle">Fabric tops</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
                <i class="bi bi-bag add-cart"></i>
        </div>
    </div>

</section>