<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1500ms">
            <img src="../../assets/Furniture" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="1500ms">
            <img src="../../assets/indian-women" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="1500ms">
            <img src="../../assets/Electronic" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="1500ms">
            <img src="../../assets/grocery" class="d-block w-100"alt="...">
            <div class="carousel-caption d-none d-md-block">
               
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="1500ms">
            <img src="../../assets/toys" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="1500ms">
            <img src="../../assets/HomeApplliences" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
    </div> 
</div>

<app-slider></app-slider>
<app-videos></app-videos>
<!-- <app-cards></app-cards> -->