<div class="container">

    <div class="container-up">
        <a routerLink="/womenproducts">
          <div class="card" >
            <img src="../assets/sareeses" class="card-img-top" alt="...">
            <div class="card-body">
            <h5>sarees</h5>
            </div>
          </div>
        </a>
          <a routerLink="/womenkurtas">
            <div class="card">
              <img src="../assets/kurtas" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5>Kurthas</h5>      
              </div>
            </div>
          </a>
          <a routerLink="/womenfrock">
            <div class="card">
              <img src="../assets/frock" class="card-img-top" alt="...">
              <div class="card-body">  
                  <h5>Gowns</h5>       
              </div>
            </div>
          </a>
          <a routerLink="/womenlehenga">
            <div class="card">
            <img src="../assets/lehenga" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Lehengas</h5>
            </div>
          
          </div>
        </a>
    </div>
    <div class="container-up">
      <a routerLink="/womendresses">
      <div class="card">
        <img src="../assets/dresses" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Dresses</h5>
        </div>
      </div>
    </a>
    <a routerLink="/womenjeans">
      <div class="card" >
          <img src="../assets/jean" class="card-img-top" alt="...">
          <div class="card-body">
          <h5>Jeans</h5>
          </div>
        </div>
      </a>
      <a routerLink="/womentops">
        <div class="card">
          <img src="../assets/tops" class="card-img-top" alt="...">
          <div class="card-body">
              <h5>Tops</h5>      
          </div>
        </div>
      </a>
      <a routerLink="/sweatshirt">
        <div class="card">
          <img src="../assets/sweatshirts" class="card-img-top" alt="...">
          <div class="card-body">  
              <h5>sweatshirt</h5>       
          </div>
        </div>
      </a>
       
  </div>
  <div class="container-up">
    <a routerLink="/womenskirts">
    <div class="card">
      <img src="../assets/skirts" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>skirts</h5>
      </div>
    
    </div>
   </a>
  <a routerLink="/womentshirts">
    <div class="card" >
        <img src="../assets/tshirt" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>t-shirts</h5>
        </div>
      </div>
    </a>
    <a routerLink="/womennightwear">
      <div class="card">
        <img src="../assets/nightdress" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Nightware</h5>      
        </div>
      </div>
    </a>
    <a routerLink="/womenleggings">
      <div class="card">
        <img src="../assets/legging" class="card-img-top" alt="...">
        <div class="card-body">  
            <h5>leggings</h5>       
        </div>
      </div>
     </a>
  </div>
  </div>