<!-- shop container -->
<section class="shop container">
    <!-- <h2 class="section-tittle">Shirt products</h2> -->
    <div class="shop-content">
        <!-- product box1 -->
        <div class="product-box">
            <img src="../../assets/men images/plane shirt1" alt="" class="product-img">
            <h2 class="product-tittle">Plane-Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box2 -->
        <div class="product-box">
            <img src="../../assets/men images/double-pocket-checked-shirt" alt="" class="product-img">
            <h2 class="product-tittle">Double Pocket Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box3 -->
        <div class="product-box">
            <img src="../../assets/men images/textured shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Textured Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box4 -->
        <div class="product-box">
            <img src="../../assets/men images/Long sleeve 3" alt="" class="product-img">
            <h2 class="product-tittle"> Long Sleeve Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box5 -->
        <div class="product-box">
            <img src="../../assets/men images/formal shirt" alt="" class="product-img">
            <h2 class="product-tittle"> Formal Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box6 -->
        <div class="product-box">
            <img src="../../assets/men images/casual check shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Casual Check Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box7 -->
        <div class="product-box">
            <img src="../../assets/men images/blank-jacket-white" alt="" class="product-img">
            <h2 class="product-tittle">Jacket White Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box8 -->
        <div class="product-box">
            <img src="../../assets/men images/stylish.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Stylish Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box9-->
        <div class="product-box">
            <img src="../../assets/men images/office-plane-shirt-hanging.avif" alt="" class="product-img">
            <h2 class="product-tittle">Plane Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box10 -->
        <div class="product-box">
            <img src="../../assets/men images/wearing shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Wearing Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box11 -->
        <div class="product-box">
            <img src="../../assets/men images/snitch-original.webp" alt="" class="product-img">
            <h2 class="product-tittle">Snitch shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box12 -->
        <div class="product-box">
            <img src="../../assets/men images/greciilooks shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Greciilooks Sirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box13 -->
        <div class="product-box">
            <img src="../../assets/men images/mildin-shirt.webp" alt="" class="product-img">
            <h2 class="product-tittle">Mildin Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box14 -->
        <div class="product-box">
            <img src="../../assets/men images/long sleeve over shirt 5.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Long Sleeve Over Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box15 -->
        <div class="product-box">
            <img src="../../assets/men images/formal double pockets.webp" alt="" class="product-img">
            <h2 class="product-tittle">Formal Double Pockets</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box16 -->
        <div class="product-box">
            <img src="../../assets/men images/arrow-formals.webp" alt="" class="product-img">
            <h2 class="product-tittle">Arrow Formal Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box17 -->
          <div class="product-box">
            <img src="../../assets/men images/formal-shirt purple.webp" alt="" class="product-img">
            <h2 class="product-tittle">Formal Purple Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box18 -->
          <div class="product-box">
            <img src="../../assets/men images/casual shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Causal Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box19 -->
        <div class="product-box">
            <img src="../../assets/men images/checkred half.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Checkred half shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box20 -->
        <div class="product-box">
            <img src="../../assets/men images/collar.jpg" alt="" class="product-img">
            <h2 class="product-tittle">Collar Shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box21 -->
        <div class="product-box">
            <img src="../../assets/men images/download.jpg" alt="" class="product-img">
            <h2 class="product-tittle">formal white shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box22 -->
          <div class="product-box">
            <img src="../../assets/men images/fibermill-original.webp" alt="" class="product-img">
            <h2 class="product-tittle">fiber shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
          <!-- product box23 -->
          <div class="product-box">
            <img src="../../assets/men images/fit.jpg" alt="" class="product-img">
            <h2 class="product-tittle">fit shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
         <!-- product box24-->
        <div class="product-box">
            <img src="../../assets/men images/man-fashion-shirt.jpg" alt="" class="product-img">
            <h2 class="product-tittle">fashion shirt</h2>
            <span class="price">$xxxx</span>
            <i class="bi bi-heart add-heart"></i>
            <i class="bi bi-bag add-cart"></i>
        </div>
    </div>
</section>